[2017-11-06 02:28] qiaojingx commented on #1624
Verified with commit eaee8d5. This issue is fixed.

[2017-11-06 02:33] qiaojingx commented on #1593
Verified with commit eaee8d5. This issue is fixed.

[2017-11-06 07:52] qiaojingx opened #1637 "[webusb] webusb module is missing"
### Description

This is a regression issue. After patch #1575. webusb module is missing.

### Test Code

[WebUSB.js](https://github.com/01org/zephyr.js/blob/master/samples/WebUSB.js);
[WebUSBConfig.js](https://github.com/01org/zephyr.js/blob/master/samples/WebUSBConfig.js);
[WebUSBConfigGroveLCD.js](https://github.com/01org/zephyr.js/blob/master/samples/WebUSBConfigGroveLCD.js);
[test-webusb-manu

[2017-11-06 08:02] qiaojingx opened #1638 "[event/ble] Type Error occurs in event and ble"
### Description

This is a regression issue. After patch #1575. `Error: handle was incorrect type` occurs when running event and ble related samples and tests.

### Test Code

[Events.js](https://github.com/01org/zephyr.js/blob/master/samples/tests/Events.js);
[test-event.js](https://github.com/01org/zephyr.js/blob/master/tests/test-event.js);
[BLE.js](https://github.com/01org/zephyr.js/blob/maste

[2017-11-06 08:16] qiaojingx opened #1639 "[dhcp] Failed to build with net-config module."
### Description

This is a regression issue. After patch #1575 merged, unable to build samples and tests which required `net-config` module.

### Test Code

[TCPEchoServ4_DHCP.js](https://github.com/01org/zephyr.js/blob/master/samples/TCPEchoServ4_DHCP.js);
[WebSocketServer4.js](https://github.com/01org/zephyr.js/blob/master/samples/websockets/WebSocketServer4.js);
[test-dhcp-ws-manual.js](https:/

[2017-11-06 09:16] qiaojingx opened #1640 "[callback] Callbacks function of on event isn't triggered."
### Description

This is a regression issue. After patch #1575 merged. Callbacks function of on event isn't triggered. It effects websocket, tcp and ocf.

### Test Code

[WebSocketServer.js](https://github.com/01org/zephyr.js/blob/master/samples/websockets/WebSocketServer.js);
[test-ws4-server.js](https://github.com/01org/zephyr.js/blob/master/tests/test-ws4-server.js);
[test-ws6-server.js](https:

[2017-11-07 02:24] qiaojingx commented on #1631
I also run into trouble when executing `ct-ng build` by following the latest instructions on setting up cross tool-ng with 1.9.

[2017-11-07 09:01] cuiyanx commented on #1629
Fixed and closed

[2017-11-07 09:01] #1629 closed

[2017-11-07 19:07] jimmy-huang commented on #1631
ok, is this the same issue you are seeing? There's a work-around here

https://github.com/zephyrproject-rtos/zephyr/issues/3683

[2017-11-07 23:00] brianjjones commented on #1637
This should be fixed by #1642

[2017-11-07 23:01] brianjjones commented on #1638
This should be fixed by #1642

[2017-11-07 23:37] brianjjones commented on #1639
It looks like '-' isn't a valid character for Jerry modules, I've changed it to '_' to fix this.

[2017-11-07 23:40] brianjjones commented on #1639
This will be fixed by #1643

[2017-11-08 00:03] brianjjones commented on #1640
I don't have a router to test this, but it might be fixed by #1642

[2017-11-08 06:47] qiaojingx commented on #1640
Verified with commit 687af46 + #1642. This issue can be fixed.
I will close it after patch merged.

[2017-11-08 06:50] qiaojingx commented on #1638
Verified with commit 687af46 + #1642. TypeError in Events can be fixed.
But TypeError in BLE is still there.

[2017-11-08 06:52] qiaojingx commented on #1637
Verified with commit 687af46 + #1642. This issue can be fixed.
I will close it after patch merged.

[2017-11-08 06:56] qiaojingx commented on #1639
Verified with commit 687af46 + #1643 . This issue can be fixed.
I will close it after patch merged.

[2017-11-08 07:10] xiaoyu3x opened #1644 "[ashell] Redundant information outputs after execute boot command"
## Issue description
After set [BMI160Accelerometer.js](https://github.com/01org/zephyr.js/blob/master/samples/BMI160Accelerometer.js) as boot file in ashell, then reboot device, "ringbuf put errors" will print at the beginning

## Test Code
[BMI160Accelerometer.js](https://github.com/01org/zephyr.js/blob/master/samples/BMI160Accelerometer.js)

## Steps to reproduce
1. Flash ashell into 101 board

[2017-11-08 07:14] qiaojingx commented on #1631
Thanks, I can finish `ct-ng build` now. But there is only one folder named `i586-zephyr-elf` under x-tools, while make qemu target need `i586-pc-elf`not `i586-zephyr-elf`. So make qemu target still failed. How can I fix it?

[2017-11-08 07:20] qiaojingx opened #1645 "[timers] Output of Timers is not in order on Linux"
### Description

This is a regression issue. The output order of Timers.js changes each time on Linux.

### Test Code

[Timers.js](https://github.com/01org/zephyr.js/blob/master/samples/Timers.js)

### Steps to Reproduction

1.  `make BOARD=linux`
2.  `./outdir/linux/release/jslinux samples/Timers.js`

### Actual Result

![selection_029](https://user-images.githubusercontent.com/19813546/32536089-

[2017-11-08 20:37] jimmy-huang commented on #1631
what you need to do is change in the deps/zephyr/scripts/Makefile.toolchain.xtools
from CROSS_COMPILE_TARGET_x86 = i586-pc-elf
to CROSS_COMPILE_TARGET_x86 = i586-zephyr-elf

[2017-11-08 21:52] jimmy-huang commented on #1645
This regression is caused by reverting the linux timers back to old way of doing timers, since the new timers used in Zephyr is more accurate but it doesn't build for linux on Mac.  So until we find a way to add async timers support on Mac, the linux timers will be inaccurate.

[2017-11-08 23:23] jimmy-huang commented on #1619
closing this as it is merged

[2017-11-08 23:23] #1619 closed

[2017-11-09 06:23] qiaojingx commented on #1621
Closed since Zephyr doesn't support to disable/re-enable BT

[2017-11-09 06:23] #1621 closed

[2017-11-09 06:33] cuiyanx opened #1648 "[gfx] If 'y1 > 100' on drawLine(x0, y0, x1, y1, color), the line is not drawn in correct position"
### Description

If 'y1 > 100' on drawLine(x0, y0, x1, y1, color), the line is not drawn in correct position(not reach the 'y1' positioning).

### Test Code

Line 31~33 on [samples/SPI_Screen.js](https://github.com/01org/zephyr.js/blob/master/samples/SPI_Screen.js)

Simple test:
[code]

### Steps to Reproduction

### Actual Result

Unable to reach the y1 point.

### Expected Result

Reach the y1 p

[2017-11-09 06:54] cuiyanx opened #1649 "[gfx] If set ‘x’ or ‘y’ coordinate outside of the screen, will be doodled."
### Description

If set 'x' or 'y' or both coordinate outside of the screen, will be doodled.

### Test Code

Simple test1 for function drawVLine():
[code]
Simple test2 for function drawHLine():
[code]
Simple test3 for function drawLine():
[code]
Simple test4 for function drawRect():
[code]

### Steps to Reproduction

### Actual Result

Doodle.

### Expected Result

Don't draw them or throw out er

[2017-11-09 07:19] cuiyanx opened #1650 "[gfx] The starting position deviation is too big on function drawChar() and drawString()"
### Description

The starting position deviation is too big on function drawChar() and drawString(). The bigger the font, the greater the deviation.

### Test Code

Simple test1 for function drawChar():
[code]

Simple test2 for function drawString():
[code]
### Steps to Reproduction

### Actual Result

Have deviation.

### Expected Result

No deviation.

### Test Builds

Branch | Commit Id | Targe

[2017-11-09 07:51] qiaojingx commented on #1631
After modify the `deps/zephyr/scripts/Makefile.toolchain.xtools` as above, another error will occurs.
`/Users/zjs/zephyr.js/deps/jerryscript/jerry-core/jrt/jrt.h:19:19: fatal error: stdio.h: No such file or directory`

But if make another change in `deps/zephyr/scripts/Makefile.toolchain.xtools` as below:
From `TOOLCHAIN_CFLAGS = -I${CROSS_COMPILE_ROOT}/${CROSS_COMPILE_TARGET}/sysroot/usr/include`

[2017-11-09 10:01] qiaojingx commented on #1631
Or modify `.config` file as below as well before `ct-ng build`:
[code]
Then, no need to change zephyr.js. make qemu target will succeed too.

[2017-11-10 01:11] jimmy-huang commented on #1631
This is good to know, I'll test it out, but I also hit an error buliding cross debugger, I had to disable it in the .config, did you run into that issue? or this patch fixes it as well?

[2017-11-10 01:15] #1644 closed

[2017-11-10 05:53] xiaoyu3x commented on #1644
This issue isn't reproduced with commit [5c8b1f1](https://github.com/01org/zephyr.js/commit/5c8b1f1ebe80ce3303a4026dc95f7fbbb93d60b4)

[2017-11-10 07:25] qiaojingx commented on #1631
I met 4 issues totally. (met 1-3 when using zephyr 1.9, met 4 when using zephyr latest master).
1. `stat: illegal option -- c` workaround: zephyrproject-rtos/zephyr#3683
2.  `Build failed in step 'Extracting and patching toolchain components'` workaround: replace `binutils-2.28.tar.xz` under `/CrossToolNG/build/.build/tarballs/` with right one.
3. `configure.ac:25: error: version mismatch.  This i

[2017-11-10 17:30] jimmy-huang commented on #1631
Weird, I didn't meet 2, but I have met a couple more, cross_gdb didn't build which I have to disable, and now I am seeing this when I build qemu_x86
/Users/zhuang1/projects/zephyrjs/zephyr.js/deps/jerryscript/jerry-core/jrt/jrt.h:19:19: fatal error: stdio.h: No such file or directory
 #include <stdio.h>

[2017-11-10 23:04] jimmy-huang commented on #1631
@qiaojingx ok, I've got it to build after removing everything and restart.  But I am still hitting the gdb issue, so i have to comment out CT_GDB_CROSS.  Btw, I created a patch #1651 to update the build instructions, can you review it?

[2017-11-13 05:55] qiaojingx commented on #1631
I have reviewed #1651, it looks good to me.

[2017-11-13 09:15] qiaojingx opened #1652 "[board] Fail to build with board module"
### Description

This is a regression issue. Building samples and tests of Board API failed for Arduino101 and FRDM-K64F. Other tests which used board api also failed.

### Test Code

[test-board.js](https://github.com/01org/zephyr.js/blob/master/tests/test-board.js);
[test-board-manual.js](https://github.com/01org/zephyr.js/blob/master/tests/test-board-manual.js);
[Board.js](https://github.com/01

[2017-11-13 19:01] #1631 closed

[2017-11-13 19:23] brianjjones commented on #1652
I'm working on a fix for this, should be a simple #if check.

[2017-11-13 19:52] brianjjones commented on #1652
#1653 will fix this compiler issue.

[2017-11-15 00:07] brianjjones commented on #1640
@qiaojingx  thanks, #1642 has now been merged.

[2017-11-15 00:16] brianjjones commented on #1638
The updated version of #1642 should take care of the issue for BLE as well.

[2017-11-15 00:48] brianjjones commented on #1545
@grgustaf I'm pretty sure this a build issue, any chance you know off hand what the problem is?  This isn't related directly to IDE other than the fact that it pulls in all the modules, using up more memory.

[2017-11-15 03:14] qiaojingx opened #1657 "[k64f] LEDR,LEDG,LEDB cannot write"
### Description

This is a regression issue. LEDR,LEDG,LEDB on FRDM-K64F cannot write.

### Test Code

[ButtonLEDs-k64f.js](https://github.com/01org/zephyr.js/blob/master/samples/ButtonLEDs-k64f.js)
[Blink-k64f.js](https://github.com/01org/zephyr.js/blob/master/samples/arduino/basics/Blink-k64f.js)
[test-k64f-pins.js](https://github.com/01org/zephyr.js/blob/master/tests/test-k64f-pins.js)

### Ste

[2017-11-15 07:29] qiaojingx commented on #1640
Verified with commit 8fe2e17. This issue is fixed. Close

[2017-11-15 07:29] #1640 closed

[2017-11-15 07:29] qiaojingx commented on #1638
Verified with commit 8fe2e17. This issue is fixed. Close

[2017-11-15 07:29] #1638 closed

[2017-11-15 07:29] qiaojingx commented on #1637
Verified with commit 8fe2e17. This issue is fixed. Close

[2017-11-15 07:29] #1637 closed

[2017-11-15 07:35] qiaojingx commented on #1652
Verified with commit 8fe2e17. This issue is fixed. Close

[2017-11-15 07:35] #1652 closed

[2017-11-15 19:43] #1586 closed

[2017-11-16 07:28] qiaojingx opened #1660 "[ocf] OcfClient cannot connect to OcfServer on K64F"
### Description

After update zephyr to 1.9.0, OcfClient cannot connect to OcfServer on FRDM_K64F.

### Test Code

[OcfServer.js](https://github.com/01org/zephyr.js/blob/master/samples/OcfServer.js);
[test-ocfserver.js](https://github.com/01org/zephyr.js/blob/master/tests/test-ocfserver.js)

### Steps to Reproduction

1. `make JS=samples/OcfServer.js BOARD=frdm_k64f`
2. `cp outdir/frdm_k64f/zephyr

[2017-11-16 07:32] qiaojingx commented on #1586
Verified with commit dcf56a9. OcfServer works on Arduino101, but it still doesn't work on FRDM-K64F. Create a separate issue(#1660) to track it.

[2017-11-16 08:14] qiaojingx opened #1661 "[aio] 'couldn't read from pin 11' on A101"
### Description

When use A1 on Arduino101, it will print `ipm_console0: '52:(ERROR) couldn't read from pin 11' `sometimes.

### Test Code

[AIO.js](https://github.com/01org/zephyr.js/blob/master/samples/AIO.js);

### Steps to Reproduction

1. `make JS=samples/AIO.js`
2. `make dfu`
### Actual Result

![selection_005](https://user-images.githubusercontent.com/19813546/32880196-be35c762-cae7-11e7-82

[2017-11-16 09:10] cuiyanx opened #1663 "[docs] The k64f_pins.md doc need to update"
### Description

We support AIO and PWM APIs to K64f board, but [/docs/k64f_pins.md](https://github.com/01org/zephyr.js/blob/master/docs/k64f_pins.md) doc has not be updated.
So, please do it.

[code]
[code]

### Test Code

[/docs/k64f_pins.md](https://github.com/01org/zephyr.js/blob/master/docs/k64f_pins.md)

### Steps to Reproduction

### Actual Result

No update.

### Expected Result

 update

[2017-11-16 09:36] cuiyanx commented on #1661
On [/tests/test-a101-pins.js](https://github.com/01org/zephyr.js/blob/master/tests/test-a101-pins.js):
[code]

[2017-11-17 01:32] qiaojingx commented on #1639
Verified with commit b81ee15. This issue is fixed. Close

[2017-11-17 01:32] #1639 closed

[2017-11-17 02:51] xiaoyu3x opened #1664 "Fail to compile JS file whose sensor number is greater than 2"
## Description

Fail to compile JS file when sensor number is 3 or more in it.

## Steps to Reproduce

Build sample [multiserver2.js](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/zjs-servers/multiserver2.js)  or [multiserver.js](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/zjs-servers/multiserver.js)
`make ROM=256 JS=multiserver.js`

## Actual Result
![selecti

[2017-11-17 06:22] qiaojingx commented on #1565
Verified with commit dcf56a9. This issue is not reproduced. Close.

[2017-11-17 06:22] #1565 closed

[2017-11-20 06:57] cuiyanx opened #1667 "[pwm] Have we supported PWM APIs on K64f？"
### Description

The document [/docs/pwm.md](https://github.com/01org/zephyr.js/blob/master/docs/pwm.md) has be updated. But when I test PWM APIs on K64f, throw out an error. Have we supported it?

 The document description:
`FRDM-K64F For the K64F, you can use numbers 0-11 or strings "D3", "D5" through "D13", "A4" and "A5".`

Error logs:
`NotSupportedError: module not found: 'pwm'`

### Test Code

[2017-11-20 08:12] qiaojingx opened #1669 "[mac] build linux and qemu target failed on Mac"
### Description

This is an regression issue and it is blocked weekly test on MacOS. Building linux and qemu target on Mac failed.

### Test Code

All samples and tests

### Steps to Reproduction

1. Building linux on MAC by command: `make BOARD=linux`
2. Building qemu on MAC by follow instructions: [building-qemu-and-arduino-101-targets](https://github.com/01org/zephyr.js#building-qemu-and-arduin

[2017-11-20 08:31] qiaojingx opened #1670 "[ws] BUS FAULT occurs when connect and disconnect websocket server for several times."
### Description

Try to connect and disconnect with websocket server for several times, `BUS FAULT` error will happen.

### Test Code

[WebSocketServer.js](https://github.com/01org/zephyr.js/blob/master/samples/websockets/WebSocketServer.js);

### Steps to Reproduction

 1. `make JS=samples/websockets/WebSocketServer.js BOARD=frdm_k64f`
 2. `cp outdir/frdm_k64f/zephyr.bin /media/<username>/MBED/`

[2017-11-20 23:26] jimmy-huang commented on #1669
this shoud be fixed by #1666

[2017-11-21 02:11] cuiyanx opened #1673 "[build] Missing src/Makefile"
### Description

When I use command `make update`, throw out an error.

Error log:
[code]

### Test Code

### Steps to Reproduction

### Actual Result

Can not update.

### Expected Result

No error and can update.

### Test Builds

Branch | Commit Id | Target Device | Test Date | Result
---|---|---|---|---
master | d509e8643 | Linux build | Nov 20, 2017 | Fail

### Additional Information

[2017-11-21 06:34] qiaojingx commented on #1622
Retest with commit dcf56a9. WebsocketServer cannot be connected again after disconnect on A101 over ble.
Phenomenon 1:
![selection_007](https://user-images.githubusercontent.com/19813546/33058075-c5164bc6-cec8-11e7-8479-63241ab9359e.png)

Phenomenon 2:
![selection_009](https://user-images.githubusercontent.com/19813546/33058080-cb163f9a-cec8-11e7-80d5-738d3588e01c.png)

[2017-11-22 06:20] qiaojingx opened #1674 "[samples] WebBluetoothDemo.js and WebBluetoothGroveLcdDemo.js need to update"
### Description

`tmp36.on("change", null);` will cause error `424:(ERROR) error calling listener ` when disconnect BT connection from WebBluetoothDemo.js and WebBluetoothGroveLcdDemo.js on A101.

### Test Code

[WebBluetoothDemo.js](https://github.com/01org/zephyr.js/blob/master/samples/WebBluetoothDemo.js);
[WebBluetoothGroveLcdDemo.js](https://github.com/01org/zephyr.js/blob/master/samples/WebB

[2017-11-23 06:43] qiaojingx commented on #1669
Verified with commit 58ebd9e. Make linux target succeeds, but make qemu target still fails.
![1](https://user-images.githubusercontent.com/19813546/33161166-9ffd3850-d05c-11e7-9f92-b713e137ca4a.png)

[2017-11-24 01:59] xiaoyu3x opened #1678 "'bad BLE address string' is printed and default address 'FF:EE:DD:CC:BB:AA' can't be obtained"
## Description

'170:(error) bad BLE address string' is printed when running [led.js](https://github.com/intel/SmartHome-Demo/blob/master/ocf-servers/zjs-servers/led.js) and default address 'FF:EE:DD:CC:BB:AA' can't be obtained.

## Steps to Reproduce

1.Build sample [led.js](https://github.com/intel/SmartHome-Demo/blob/master/ocf-servers/zjs-servers/led.js)
`make ROM=256 JS=led.js`
2. Flash it in

[2017-11-27 09:36] qiaojingx opened #1679 "[board] Build with board module is broken"
### Description

This is a regression issue. Building samples and tests of Board API failed for Arduino101 and FRDM-K64F. Other tests which used board api also failed.

### Test Code

[test-board.js](https://github.com/01org/zephyr.js/blob/master/tests/test-board.js);
[test-board-manual.js](https://github.com/01org/zephyr.js/blob/master/tests/test-board-manual.js);
[Board.js](https://github.com/01

[2017-11-27 20:17] #1674 closed

[2017-11-27 20:20] jimmy-huang commented on #1664
Yeah, we are just running out with ROM space now, not sure how to tackle this as we are close to the hardware limit on the Arduino 101.

[2017-11-28 04:21] cuiyanx commented on #1674
Fixed and closed

[2017-11-30 06:31] qiaojingx commented on #1678
Verified with commit 62697b3 + #1681 . This issue isn’t reproduced.

[2017-11-30 18:09] #1678 closed

[2017-11-30 18:25] #1673 closed

[2017-11-30 18:26] #1669 closed

[2017-12-01 01:19] cuiyanx commented on #1673
Fixed and closed

[2017-12-01 17:53] grgustaf commented on #1525
@cuiyanx can you verify?

[2017-12-01 17:55] grgustaf commented on #1545
This is because we use __file__ macro so the big long path of each file gets stored in the binary. @nagineni fixed it I think, by disabling that __file__ usage except for debug builds.

@qiaojingx can you check the latest?

[2017-12-01 18:00] grgustaf commented on #1549
This probably occurs because of a memory leak; @xiaoyu3x can you clarify whether this happens only when you repeat execution of scripts. Does it ever occur the first time you run an example after rebooting the device?

[2017-12-01 18:04] grgustaf commented on #1555
In this case these errors do not really matter. It just means that out of four hours worth of sensor samples, 13 of them were lost. It looks like we're sending samples at 20Hz, which means 288k samples in 4 hours... so this is a failure rate of 0.004%.

It probably happens occasionally during garbage collection or something.

[2017-12-01 18:06] grgustaf commented on #1560
@xiaoyu3x how long were these runs?

[2017-12-01 18:08] grgustaf commented on #1582
@brianjjones ping on this one, just note I don't think we're done here.

[2017-12-01 18:22] brianjjones commented on #1486
This is done.  PR #1575 and #1658 add the functionality.

[2017-12-01 18:56] grgustaf commented on #1627
@brianjjones is this fixed by your new frameless mode for A101?

[2017-12-01 18:56] grgustaf commented on #1627
@cuiyanx was this on A101 I assume? That matters because of the low available RAM.

[2017-12-01 18:59] grgustaf commented on #1594
Works for me on master, can you try again @qiaojingx?

[2017-12-01 19:06] grgustaf commented on #1625
Again, interesting but as it's board and pin-specific it's not going to hit the top of the priority list soon. ;)

[2017-12-01 20:43] grgustaf commented on #1645
Marking as low priority because Linux is just a testing target, not a real use case.

[2017-12-01 20:48] grgustaf commented on #1657
This should be fixed by #1685.

[2017-12-01 20:53] grgustaf commented on #1667
No, the last I looked the PWM driver in Zephyr had not been updated to support the newer PWM apis, so it won't work. I have seen several references from QA as if it was working though, so I meant to check this out. So sounds like maybe not after all?

[2017-12-01 21:08] grgustaf commented on #1679
Fixed in #1684.

[2017-12-04 01:40] xiaoyu3x commented on #1549
hi, @grgustaf
I just retested 10 times with commit [cbec79d](https://github.com/01org/zephyr.js/commit/cbec79db327b51501806851685eb896739a9a424), but it wasn't reproduced. I think it is random and  probability is very low now.

[2017-12-04 01:49] xiaoyu3x commented on #1560
hi, @grgustaf
I just retested 10 times with commit [cbec79d](https://github.com/01org/zephyr.js/commit/cbec79db327b51501806851685eb896739a9a424) and it costs about 5 min every time, but it wasn't reproduced.

[2017-12-04 02:30] qiaojingx commented on #1594
Verified with commit cbec79d in master. This issue is fixed. Close.

[2017-12-04 02:30] #1594 closed

[2017-12-04 02:44] qiaojingx commented on #1545
Verified with commit cbec79d in master, this issue is fixed. But it still exists in zjs-0.4 branch.
Will the zjs-0.4 branch be fixed, too?

[2017-12-04 02:53] cuiyanx commented on #1525
@grgustaf
Adding debug flag, throw out error.
No debug flag, `ReceiveClose:59395`

[2017-12-04 02:58] cuiyanx commented on #1627
@grgustaf Yes, I think so.
@brianjjones Can we work around this?

[2017-12-04 05:56] qiaojingx opened #1686 "[timers] BUS fault error occurs when running test-timers.js on 96b_carbon/stm32f4_disco/olimex_stm32_e407"
### Description

test-timers.js will cause bus fault error on boards: 96b_carbon, stm32f4_disco and olimex_stm32_e407

### Test Code

[test-timers.js](https://github.com/01org/zephyr.js/blob/master/tests/test-timers.js)

### Steps to Reproduction

96b_carbon:
1. `make BOARD=96b_carbon JS=tests/test-timers.js`
2. `dfu-util -a 0 -d 0483:df11 -D outdir/96b_carbon/zephyr.bin --dfuse-address 0x08000000

[2017-12-04 06:30] qiaojingx opened #1687 "[linux] Assert doesn't work on Linux"
### Description

This issue a regression issue. Most of tests in zephyr.js will get TypeError on Linux.

### Test Code

[test-buffer.js](https://github.com/01org/zephyr.js/blob/master/tests/test-buffer.js);
[test-buffer-rw.js](https://github.com/01org/zephyr.js/blob/master/tests/test-buffer-rw.js);
[test-callbacks.js](https://github.com/01org/zephyr.js/blob/master/tests/test-callbacks.js);
[test-t

[2017-12-04 08:01] qiaojingx commented on #1024
Verified with latest commit cbec79d in master, frdm_k64f and nrf52_pca10040 can be built on MacOS now.
But a little change needed in [README.md](https://github.com/01org/zephyr.js#other-targets-like-frdm-k64f-or-possibly-other-arm-boards-on-mac), or build will run into error.
change `export GCCARMEMB_TOOLCHAIN_PATH="~/Downloads/gcc-arm-none-eabi-6-2017-q1-update/"`
to `export GCCARMEMB_TOOLCHAIN_P

[2017-12-04 08:17] jimmy-huang commented on #1687
This was broken by the Modules patch, @brianjjones please take a look at it.

[2017-12-05 09:05] qiaojingx opened #1689 "[error] Error Type is not subdivided"
### Description

This is a regression issue. When running test-error.js on Arduino101 and FRDM-K64F, two exception tests fails.

### Test Code

[test-error.js](https://github.com/01org/zephyr.js/blob/master/tests/test-error.js)

### Steps to Reproduction

1. `make JS=tests/test-error.js`
2. `make dfu`

### Actual Result

![selection_012](https://user-images.githubusercontent.com/19813546/33598603-

[2017-12-05 09:31] qiaojingx opened #1690 "[samples] GPIO-Outputs.js need to update for running on Arduino 101"
### Description

GPIO-Outputs.js is broken on Arduino 101 because of special pins.

### Test Code

[GPIO-Outputs.js](https://github.com/01org/zephyr.js/blob/master/samples/tests/GPIO-Outputs.js)

### Steps to Reproduction

1. `make JS=samples/tests/GPIO-Outputs.js`
2. `make dfu`
3.  Wire an external LED to each output in turn!

### Actual Result

![selection_013](https://user-images.githubusercont

[2017-12-06 00:45] brianjjones commented on #1687
Made a fix for this #1691

[2017-12-06 07:30] qiaojingx commented on #1687
Verified with 79cd6aa from https://github.com/brianjjones/zephyr.js-1/tree/modules-linux. This issue can be fixed.
I will close this bug after patch merged.

[2017-12-06 07:38] qiaojingx commented on #1679
Verified with commit cbec79d + #1684, this issue can be fixed.
I will close this bug after patch merged.

[2017-12-06 07:54] qiaojingx commented on #1657
Verified with commit cbec79d + #1685 , this issue can be fixed.
I will close this bug after patch merged.

[2017-12-06 09:34] qiaojingx commented on #1607
Verified with commit cbec79d + #1685 , this issue can be fixed.
I will close this bug after patch merged.

[2017-12-06 22:51] #1607 closed

[2017-12-07 01:51] #1657 closed

[2017-12-07 01:52] #1679 closed

[2017-12-07 22:27] #1687 closed

[2017-12-07 22:56] #1024 closed

[2017-12-08 01:31] cuiyanx commented on #1024
Fixed and closed

[2017-12-08 06:21] cuiyanx commented on #1689
I test this bug with commit 39112c74, this bug has been fixed. Please test again.

[2017-12-08 21:10] #1690 closed

[2017-12-11 06:42] xiaoyu3x commented on #1560
This issue isn't reproduced on [1b970c8](https://github.com/01org/zephyr.js/commit/1b970c822e051d900777c0b66e3723e8c40cd74f), so closed it.

[2017-12-11 06:42] #1560 closed

[2017-12-11 07:24] qiaojingx commented on #1592
Verified with commit 1b970c8. This issue is fixed.
Close.

[2017-12-11 07:24] #1592 closed

[2017-12-11 07:46] qiaojingx commented on #1689
Verified with commit 1b970c8. This issue is fixed.
Close.

[2017-12-11 07:46] #1689 closed

[2017-12-12 04:06] cuiyanx opened #1705 "[ble] BUS fault error occurs when connecting on 96b_carbon"
### Description

When I test ble case on 96b_carbon with multiple connection and disconnection. And bus fault error occurs sometimes.

### Test Code

[/samples/BLE.js](https://github.com/01org/zephyr.js/blob/master/samples/BLE.js)

### Steps to Reproduction

### Actual Result

Bus fault:
[code]

### Expected Result

 No error.

### Test Builds

Branch | Commit Id | Target Device | Test Date | Resu

[2017-12-13 02:09] qiaojingx commented on #1690
Verified with commit 1b970c8. GPIO-Outputs.js has been updated. Close

[2017-12-13 07:41] pfalcon opened #1706 "CMake version race"
Trying to build the latest master:

[code]

Really? Can't you guys stick with the version which Zephyr requires, which is 3.8.2, and which is not available as a native package for many Linux distros, so require additional pain on the user to install?

[2017-12-13 07:47] qiaojingx opened #1707 "[ocf] Cannot create multiple resources"
### Description

Error `512:(ERROR) failed to create new resource` will occurs when running ocfserver which has multiple resources.

### Test Code

[OcfMultiSensor.js](https://github.com/01org/zephyr.js/blob/master/samples/OcfMultiSensor.js);
[th02-ocf.js](https://github.com/01org/zephyr.js/tree/master/samples/thermostat/th02-ocf.js);
[test-ocfserver.js](https://github.com/01org/zephyr.js/blob/mas

[2017-12-13 08:02] qiaojingx opened #1709 "VARIANT BLE_ADDR is not working"
### Description

This issue a regression issue. When building with BLE_ADDR flag. Ble address doesn't change.

### Test Code

[TCPEchoServ6.js](https://github.com/01org/zephyr.js/blob/master/samples/TCPEchoServ6.js);
[UDPEchoServ6.js](https://github.com/01org/zephyr.js/blob/master/samples/UDPEchoServ6.js);
[WebSocketServer.js](https://github.com/01org/zephyr.js/blob/master/samples/websockets/WebSo

[2017-12-13 08:08] qiaojingx opened #1710 "[webusb] No notification pops up for WebUSB."
### Description

This issue a regression issue. There is no pop up notification when running WebUSB.

### Test Code

[WebUSB.js](https://github.com/01org/zephyr.js/blob/master/samples/WebUSB.js);
[WebUSBConfig.js](https://github.com/01org/zephyr.js/tree/master/samples/WebUSBConfig.js);
[WebUSBConfigGroveLCD.js](https://github.com/01org/zephyr.js/blob/master/samples/WebUSBConfigGroveLCD.js);
[test-

[2017-12-13 08:18] qiaojingx opened #1711 "[tcp] Stack Check Fail in qemu"
### Description

When running [test-tcp6-server.js](https://github.com/01org/zephyr.js/blob/master/tests/test-tcp6-server.js), [test-tcp4-server.js](https://github.com/01org/zephyr.js/blob/master/tests/test-tcp4-server.js) and [test-tcp4-server-DHCP.js](https://github.com/01org/zephyr.js/blob/master/tests/test-tcp4-server-DHCP.js) in qemu, `Stack Check Fail` will occur. But not reproduce on A101 a

[2017-12-13 08:29] qiaojingx opened #1712 "[ashell] ashell doesn't work"
### Description

This issue a regression issue. 'Zeph' is outputted instead of commands list when ashell start. Ashell doesn't work.

### Test Code

[ashell](https://github.com/01org/zephyr.js/blob/master/docs/ashell.md);

### Steps to Reproduction

1. `make ashell ROM=256`
2. `make dfu`

### Actual Result

![selection_018](https://user-images.githubusercontent.com/19813546/33928862-5daee234-e022-

[2017-12-13 08:42] qiaojingx opened #1713 "[tcp] Cannot send data to peer(-110) on K64F and QEMU"
### Description

 This issue a regression issue. When sending single data pack by command `echo "hello" | nc 192.0.2.1 4242` to [TCPEchoServ4.js](https://github.com/01org/zephyr.js/blob/master/samples/TCPEchoServ4.js), tcpserver will prints error (`Cannot send data to peer(-110)`) on K64F and qemu. This issue also reproduce with [TCPEchoServ6.js](https://github.com/01org/zephyr.js/blob/master/samp

[2017-12-13 08:44] qiaojingx commented on #1600
Verified with commit 1b970c8. This issue is not reproduced on Arduino101. A similar issue is found on K64F and qemu. Tracking by #1713 .
Close this one.

[2017-12-13 08:44] #1600 closed

[2017-12-13 09:21] qiaojingx opened #1714 "[docs] README.md need to update for building on MacOS"
### Description

In order to build on MacOS,  README.md need to update according to http://docs.zephyrproject.org/getting_started/installation_mac.html.

### Test Code

[README.md](https://github.com/01org/zephyr.js/blob/master/README.md)

### Actual Result

Build with `BOARD=frdm_k64f` will fail with error `Kconfig not found` by following instruction [building-and-running-on-macos](https://github

[2017-12-13 10:43] qiaojingx opened #1715 "[MacOS] Make qemu target failed on MacOS"
### Description

Building qemu target on Mac failed after zephyr updated.

### Test Code

All samples and tests

### Steps to Reproduction

1. Building qemu on MAC by follow instructions: [building-qemu-and-arduino-101-targets](https://github.com/01org/zephyr.js#building-qemu-and-arduino-101-targets)

### Actual Result

1. Building qemu target failed on Mac, it needs `i586-zephyr-elfiamcu` not `i5

[2017-12-14 02:11] brianjjones commented on #1712
It appears the cmake change broke the command line ashell.  Its rather strange as the IDE version works fine, and you can even use the command line within the console no problem.  Anyway, I'm working on a fix.

[2017-12-16 02:02] brianjjones commented on #1712
OK I've finally found the cause, I've created the fix here #1721

[2017-12-18 09:23] qiaojingx opened #1722 "[k64f] Use onboard LED lead to reset"
### Description

This is a regression issue. When using onboard LED, FRDM-K64F will keep resetting.

### Test Code

[ButtonLEDs-k64f.js](https://github.com/01org/zephyr.js/blob/master/samples/ButtonLEDs-k64f.js);
[Blink-k64f.js](https://github.com/01org/zephyr.js/blob/master/samples/arduino/basics/Blink-k64f.js);
[test-gpio.js](https://github.com/01org/zephyr.js/blob/master/tests/test-gpio.js);

#

[2017-12-18 09:42] qiaojingx opened #1725 "[ws] Cannot send data to peer(-22) on K64F and QEMU"
### Description

 When running [WebSocketServer.js](https://github.com/01org/zephyr.js/blob/master/samples/websockets/WebSocketServer.js) and [WebSocketServer4.js](https://github.com/01org/zephyr.js/blob/master/samples/websockets/WebSocketServer4.js) on K64F and qemu, data transmission is stuck and `Error: Cannot send data to peer(-22)` is printed after connect with node client for a short while.

[2017-12-18 22:07] grgustaf commented on #284
I now pretty much have this where I want it, to be able to close this issue.

We made some progress on this long ago, but the pieces that have fallen into place lately are:
- #1562 added support for PWM through board module instead of board-specific pin modules
- #1716 added the same for AIO and removed those pin modules entirely
- #1727 which I just submitted moves friendly "board support" into s

[2017-12-18 22:07] #284 closed

[2017-12-19 08:48] cuiyanx commented on #1627
Fixed and closed.

[2017-12-19 08:48] #1627 closed

[2017-12-19 09:45] qiaojingx opened #1731 "[sensor] Pins not found in AmbientLight Sensor"
### Description

This is a regression issue. Pins cannot be analyzed when running [AmbientLight.js](https://github.com/01org/zephyr.js/blob/master/samples/AmbientLight.js) on Ardunio101.

### Test Code

 [AmbientLight.js](https://github.com/01org/zephyr.js/blob/master/samples/AmbientLight.js);
 [test-ambientlight.js](https://github.com/01org/zephyr.js/blob/master/tests/test-ambientlight.js)

### S

[2017-12-20 07:50] qiaojingx commented on #1622
Verified with commit 616c13f on Arduino 101, this issue is not reproduced.
Close.

[2017-12-20 07:50] #1622 closed

[2017-12-21 01:49] qiaojingx commented on #1712
Verified with commit b32969f. This issue is fixed.
Close.

[2017-12-21 01:49] #1712 closed

[2017-12-21 05:50] qiaojingx commented on #1547
Verified with b32969f in master. Run test-promise-stress.js on Linux and OSX for 4hours. This issue is not reproduced.
Close

[2017-12-21 05:50] #1547 closed

[2017-12-25 06:17] xiaoyu3x opened #1732 "[docs] links need to update in README.md"
## Description

Links [https://01.org/iot-ide](https://01org.github.io/zephyrjs-ide) and [IDE](https://01org.github.io/zephyrjs-ide) can't be accessed.

## Steps to Reproduce

Click [https://01.org/iot-ide](https://01org.github.io/zephyrjs-ide) and [IDE](https://01org.github.io/zephyrjs-ide)

## Actual Result
[https://01.org/iot-ide](https://01org.github.io/zephyrjs-ide) and [IDE](https://01org.gi

[2017-12-26 01:40] xiaoyu3x commented on #1732
This issue isn't reproduced with PR #1733  and I will close it until PR merge.

[2017-12-26 09:25] xiaoyu3x commented on #1481
@ttzeng
This issue isn't reproduced and  'iot-rest-api-server' can discover OCF resource now,  please closed it.

[2017-12-26 09:56] qiaojingx commented on #1611
Verified with commit b32969f. This issue is not reproduced. Close

[2017-12-26 09:56] #1611 closed

[2017-12-28 06:24] qiaojingx commented on #1554
Re-test  [TCPEchoServ4.js](https://github.com/01org/zephyr.js/blob/master/samples/TCPEchoServ4.js), [TCPEchoServ4_DHCP.js](https://github.com/01org/zephyr.js/blob/master/samples/TCPEchoServ4_DHCP.js), [TCPEchoServ6.js](https://github.com/01org/zephyr.js/blob/master/samples/TCPEchoServ6.js) in qemu with latest commit b32969f in master for 4hours.
They all got `CPU Page Fault` error:
![qemu_tcpech6]

[2017-12-28 06:43] qiaojingx opened #1735 "[tcp] BUS Fault occurs when running TCPEchoServ4_DHCP.js over night"
### Description

Using python client to send data continuously to TCPEchoServ4_DHCP.js on FRDM-K64F over night, BUS Fault error will occurs.

### Test Code

 [TCPEchoServ4_DHCP.js](https://github.com/01org/zephyr.js/blob/master/samplesTCPEchoServ4_DHCP.js)
Python client: test-tcp4-client-dhcp.py
[code]
### Steps to Reproduction

1.  `make JS=samples/TCPEchoServ4_DHCP.js BOARD=frdm_k64f`
2.  `cp ou

[2017-12-28 07:12] qiaojingx opened #1736 "[ocf/udp/tcp/ws] Server on Arduino101 over ENC28J60 will hang after long-running"
### Description

OcfServer, UDPServer,TCPServer and WebSocketServer all hang after long-running on Arduino101 with ENC28J60 Ethernet Board.

### Test Code

[WebSocketServer.js](https://github.com/01org/zephyr.js/blob/master/samples/websockets/WebSocketServer.js);
[TCPEchoServ6.js](https://github.com/01org/zephyr.js/blob/master/samples/TCPEchoServ6.js);
[TCPClient6.js](https://github.com/01org/zeph

[2017-12-28 08:53] qiaojingx opened #1737 "[tcp] `General Protection Fault` occurs when running TCPEchoServ6.js on arduino101 over ble for long time"
### Description

`General Protection Fault` occurs after running TCPEchoServ6.js for 1 hour on arduino101 over ble.

### Test Code

[TCPEchoServ6.js](https://github.com/01org/zephyr.js/blob/master/samples/TCPEchoServ6.js);

### Steps to Reproduction

1. Flash Arduino101 with test sample.
[code]
2. connect to PC via 6lowpan, add router and address.
[code]
3. Connect TCPEchoServ6.js  using python cl

[2017-12-28 23:23] brianjjones commented on #1710
Fix is ready for review.  CONFIG_USB_DEVICE_VID and CONFIG_USB_DEVICE_PID have to be added to the .json file for Chrome to display the popup.  I also updated the sample URL to the new one.

[2017-12-29 00:53] brianjjones commented on #1648
Seems to be working for me on the latest, @cuiyanx can you retest this to see if the issue persists?

Thanks.

[2017-12-29 06:30] cuiyanx commented on #1648
Fixed and closed。

[2017-12-29 06:30] #1648 closed

[2018-01-01 10:19] #1481 closed

[2018-01-03 05:50] qiaojingx commented on #924
Verified with commit b32969f on nRF52840-pca10056 board. This issue is not reproduced.

[2018-01-03 06:57] qiaojingx commented on #1187
Verified with commit b32969f on Arduino101, FRDM-K64F and Qemu.
This issue is reproduced contiunously on Arduino101 over Ethernet. But on FRDM-K64F and Qemu, it occurs alternately.

[2018-01-03 07:00] qiaojingx commented on #1447
Verified with commit b32969f on Arduino101, this issue is still reproduced.

[2018-01-03 08:21] qiaojingx commented on #1710
Verified with commit b32969f + #1738 . This issue is not reproduced.
But URL in [WebUSBConfig.js](https://github.com/01org/zephyr.js/tree/master/samples/WebUSBConfig.js), [WebUSBConfigGroveLCD.js](https://github.com/01org/zephyr.js/blob/master/samples/WebUSBConfigGroveLCD.js), [test-webusb-manual.js](https://github.com/01org/zephyr.js/blob/master/tests/test-webusb-manual.js) need to update, too.

[2018-01-03 09:42] cuiyanx commented on #1525
@grgustaf @brianjjones
I test again with #1739 PR, can build with `VARIANT=debug`. But `code = buffer data` in [/src/zjs_web_sockets.c](https://github.com/intel/zephyr.js/blob/master/src/zjs_web_sockets.c) line 478, is that right? I think that `code = opcode = 0x08`. Please check again.

[2018-01-03 10:02] qiaojingx commented on #1706
Verified with commit b32969f. This issue is not reproduced.

[2018-01-04 21:41] brianjjones commented on #1710
+1 LGTM

[2018-01-06 00:55] #1722 closed

[2018-01-06 00:58] #1732 closed

[2018-01-08 02:56] qiaojingx commented on #1722
Verified with commit 8c9d2b4. This issue is fixed.

[2018-01-08 19:46] #1710 closed

[2018-01-08 22:15] grgustaf commented on #924
Closing

[2018-01-08 22:15] #924 closed

[2018-01-08 22:19] grgustaf commented on #1663
This file has been eliminated along the module it documented; closing.

[2018-01-08 22:19] #1663 closed

[2018-01-08 22:26] grgustaf commented on #368
I believe with recent changes this is finally adequately addressed; closing.

[2018-01-08 22:26] #368 closed

[2018-01-08 22:27] grgustaf commented on #501
Fixed long ago.

[2018-01-08 22:27] #501 closed

[2018-01-08 22:41] grgustaf commented on #1731
@jimmy-huang it looks like your AmbientLight code probably needs to change to deal with the new pin naming? I might need to help?

[2018-01-08 22:44] #1706 closed

[2018-01-08 23:17] jimmy-huang commented on #1731
Yeah, does look like it needs to be updated, go ahead if you find a quick fix, or I can look at it later

[2018-01-08 23:18] jimmy-huang commented on #1486
I am closing this.

[2018-01-08 23:18] #1486 closed

[2018-01-08 23:21] jimmy-huang commented on #1566
This is a ram issue with a101 with BLE and OCF enabled, it's only stable to run 1 or 2 sensors registered, anything with 3 or more sensors will be unstable.

[2018-01-09 01:13] cuiyanx commented on #1663
Yeah, closed.

[2018-01-09 02:16] cuiyanx opened #1743 "[gfx] If 'x0 = x1, y0 > y1' or 'x0 > x1, y0 = y1', that line drawing is different of expectation."
### Description

When I test drawLine() function, I find that line drawing is different of expectation if I set 'x0 = x1, y0 > y1' or 'x0 > x1, y0 = y1'. The direction of the line is wrong.

### Test Code

Simple test:
[code]

### Steps to Reproduction

### Actual Result

Line1: Starting point： [64, 80], End point： [64, 150]
Line2: Starting point： [64, 80], End point： [118, 80]

### Expected Resul

[2018-01-09 02:47] cuiyanx opened #1744 "[gfx] When I set coordinate as negative number, the coordinate has be fixed to zero."
### Description

When I set coordinate as negative number, the coordinate has be fixed to zero.

### Test Code

Simple test:
[code]

### Steps to Reproduction

### Actual Result

Line1: Starting point： [0, 30], End point： [0, 100]
Line2: Starting point： [30, 0], End point： [100, 0]

### Expected Result

Outside of screen and don't display.

### Test Builds

Branch | Commit Id | Target Device | Tes

[2018-01-09 08:54] pfalcon commented on #368
Thanks!

[2018-01-09 10:00] qiaojingx commented on #1710
Verified with commit b17a496， this issue is fixed.

[2018-01-09 16:20] grgustaf commented on #1744
Hmm, yeah really doing this right should probably draw any on-screen portion of the line and drop the rest, e.g. if you chose (-50, 30, 40, 100), whereas it appears we're clamping to on-screen 0 which really draws the wrong line.

[2018-01-10 01:38] cuiyanx commented on #1489
Fixed and closed

[2018-01-10 01:40] cuiyanx commented on #1483
Fixed and closed

[2018-01-10 01:40] cuiyanx commented on #1400
Fixed and closed

[2018-01-10 01:41] cuiyanx commented on #1385
Fixed and closed

[2018-01-10 01:42] cuiyanx commented on #1279
Fixed and closed

[2018-01-10 01:44] cuiyanx commented on #1244
Fixed and closed

[2018-01-10 01:44] cuiyanx commented on #1243
Fixed and closed

[2018-01-10 01:47] cuiyanx commented on #1115
Fixed and closed

[2018-01-10 01:47] cuiyanx commented on #1100
Fixed and closed

[2018-01-10 01:48] cuiyanx commented on #977
Fixed and closed

[2018-01-10 01:49] cuiyanx commented on #970
Fixed and closed

[2018-01-10 01:50] cuiyanx commented on #914
Fixed and closed

[2018-01-10 05:57] cuiyanx commented on #1649
Now, this issue has be changed with commit 2dee8b9f on `master` patch, please pay attention to #1744 and close this issue.

[2018-01-10 05:57] #1649 closed

[2018-01-10 08:28] qiaojingx commented on #1731
Verified with commit 03f6e1c + #1746. This issue is fixed.
But AmbientLightSensor is still not working on FRDM-K64F after PR #1746.
[code]

[2018-01-10 18:00] #1204 closed

[2018-01-10 18:02] jimmy-huang commented on #1367
This is already fixed upstream, so I am closing this and re-open if needed.

[2018-01-10 18:12] jimmy-huang commented on #1661
@cuiyanx, Is this still reproducible with Zephyr 1.10? I can't reproduce this with AIO.js andtest-a101-pins.js

[2018-01-10 19:08] grgustaf commented on #575
These days the stable version is v8.9.4. I'm going to change the summary to make this more specific to moving away from the deprecated Buffer constructor and use alloc/from instead.

[2018-01-10 19:19] grgustaf commented on #90
Lowering priority because this is A101-specific and pullup has been observed to work on other boards.

[2018-01-11 00:54] jimmy-huang commented on #1731
Yeah, it seems like frdm_k64f is not yet ready to pull in ADC to process the ambient light sensor as it will also need to pull in math library to do the conversions, these sensors should be using the grove light driver in Zephyr, but I just checked the Zephyr Grove Light samples, it doesn't allow you to dyanmically change the AIO pin via API.  So I think this patch should just focus on fixing the

[2018-01-11 01:24] cuiyanx commented on #1661
@jimmy-huang
Yes, this issue has be fixed.
@qiaojingx Please closed it.

[2018-01-11 06:15] qiaojingx commented on #1709
Verified with commit 03f6e1c + #1748. This issue is fixed.
But `170:(ERROR) bad BLE address string` occurs, and default ble address of these servers is not `FF:EE:DD:CC:BB:AA` but `FD:0F:2C:88:2B:A4`
![selection_011](https://user-images.githubusercontent.com/19813546/34810871-c5443972-f6d8-11e7-83a2-925e20d6d72c.png)
![selection_010](https://user-images.githubusercontent.com/19813546/34810873-c573

[2018-01-11 06:26] qiaojingx commented on #1731
OK, then I will close this issue after #1746 merge.

[2018-01-11 17:12] #1731 closed

[2018-01-11 17:12] #1709 closed

[2018-01-11 18:19] grgustaf commented on #758
I'm not able to reproduce this today with a number of tries. One thing I noticed is that I hadn't updated my "net-tools" repo since I initially cloned it last March. There have been a number of patches in there, perhaps this matters?

Can you see if you're able to reproduce, @cuiyanx?

[2018-01-11 18:28] grgustaf commented on #1172
This is really an enhancement, part of the Node.js API we haven't supported. This would require extra bookkeeping and I don't think it's of great value to the app developer in this environment, so I'm also lowering the priority.

[2018-01-11 22:52] jimmy-huang commented on #1707
This is related to RAM issue on the Arduino101, is this reproducible on the 96b_carbon?

[2018-01-11 22:53] jimmy-huang commented on #1566
This is related to RAM issue on the Arduino101, is this reproducible on the 96b_carbon?

[2018-01-11 23:21] #1618 closed

[2018-01-11 23:40] jimmy-huang commented on #1457
@wanghongjuan is this still reproducible with latest Zephyr 1.10 and iotvity-constrained?

[2018-01-12 01:28] xiaoyu3x commented on #1457
@jimmy-huang
This issue can't be verified now because issue #1664 hasn't been fixed.
We can't build  multiple sensors image successfully now.
I will verify it until issue #1664 is resloved.

[2018-01-12 01:47] jimmy-huang commented on #1661
@cuiyanx how long does it take to see the error on AIO.js?

[2018-01-12 01:50] cuiyanx commented on #1661
@jimmy-huang  From the beginning.

[2018-01-12 01:54] cuiyanx commented on #758
@grgustaf No, I can't reproduce.
So, close this issue.

[2018-01-12 01:54] #758 closed

[2018-01-12 02:02] xiaoyu3x commented on #1566
hello, @jimmy-huang
I can't build OCF relative image successfully with 96_carbon.
Build command: `make BOARD=96b_carbon JS=**ocf**.js`
Result:
![selection_034](https://user-images.githubusercontent.com/17694094/34856288-47ab28ca-f77f-11e7-9a5b-387a3754367e.png)

Does 96b_carbon support OCF?
Is it  a issue about 96b_carbon?

[2018-01-12 02:07] qiaojingx commented on #1707
@jimmy-huang , Ocf cannot be built for 96b_carbon.
Does ocf moudle is supported on 96b_carbon(ble) and OLIMEX STM32 E407(Ethernet)? If so, I need create issues for them.

[2018-01-12 02:56] xiaoyu3x opened #1754 "'bad BLE address string' is printed and default ble address is invalid."
## Description

'170:(error) bad BLE address string' is printed when running [led.js](https://github.com/intel/SmartHome-Demo/blob/master/ocf-servers/zjs-servers/led.js) and default address isn't  'FF:EE:DD:CC:BB:AA'

## Steps to Reproduce

1.Build sample [led.js](https://github.com/intel/SmartHome-Demo/blob/master/ocf-servers/zjs-servers/led.js)
`make ROM=256 JS=led.js`
2. Flash it into A101
`mak

[2018-01-12 06:38] qiaojingx commented on #1709
New issue about default ble address broken is tracking by #1754 .

[2018-01-12 14:53] pfalcon opened #1756 "README: Some typos/outdated info"
E.g. in this section: https://github.com/intel/zephyr.js#clone-the-zjs-repo

I don't know if you'd like to fix it.

[2018-01-12 15:02] pfalcon commented on #1756
To not spawn more tickets:

Typo in the following command in README:

[code]

"Hellow" should be "Hello".

Also, I'd find it more consistent to specify first BOARD=, then JS=. (Well, maybe it's just a personal preference. Anyway, in a particular working session, you set a BOARD once, and then vary JS, which is easier is it's at the end).

[2018-01-12 15:06] pfalcon commented on #1756
"Zephyr is a trademark of the Linux Foundation. *Other names and brands may be claimed as the property of others." notice is now suddenly at the end of this section: https://github.com/intel/zephyr.js#frdm-k64f-platform

I guess it should be around the top of file, close to first use, or at the very bottom.

[2018-01-12 15:07] pfalcon commented on #1756
https://github.com/intel/zephyr.js#frdm-k64f-platform :

There's no such page any longer, please link to http://docs.zephyrproject.org/boards/arm/frdm_k64f/doc/frdm_k64f.html instead.

[2018-01-12 19:44] jimmy-huang commented on #1661
@cuiyanx ok, i don't see it quite often, at least not immediately, but i do when i run it for a while, I am wondering if this has to do with the sampling rate, can you change the following line in arc/src/arc_aio.c and see if the problem goes away?

// change it from 26 to 30
.sampling_delay = 30;

[2018-01-12 20:19] t-harvey opened #1759 "I'd like to fix the WebIDL in the documentation -- thoughts?"
Hi all,
I'm writing a WebIDL-->Jerryscript compiler/code-generator, and I've been using the excellent object-model that zephyr.js has built by copy/pasting the WebIDL out of the documentation and using it as a test bed for my project.

Unfortunately, the WebIDL is not strictly conforming to the spec, and I would like to take on the task of updating the documentation with syntactically correct WebI

[2018-01-12 20:22] jimmy-huang commented on #1759
Yes, that would be great, anything to help make our spec WebIDL compliant is always welcomed, go ahead and submit the patch and we can review them :+1:

[2018-01-12 21:58] jimmy-huang commented on #1582
@cuiyanx is this still reproducible?

[2018-01-12 22:51] grgustaf commented on #1759
One caveat is just yesterday I removed the WebIDL from buffer.md, in favor of a style more like what Node.js does for documentation. But you're welcome to reintroduce it if you want to correct it.

Alternately, maybe we could move it into a separate file like buffer.idl and link to that in buffer.md; I'm up for suggestions. As you see we've just been using it in a kind of ad hoc manner.

[2018-01-12 23:13] #1754 closed

[2018-01-12 23:19] #1756 closed

[2018-01-15 01:26] cuiyanx commented on #1661
@jimmy-huang
I run this sample about 5 minutes after I change delay to 30, this issue can not reproduce.

[2018-01-15 02:39] cuiyanx commented on #1582
@jimmy-huang
Yes, this issue can be reproduced on both cases. And [/samples/Stepper.js](https://github.com/intel/zephyr.js/blob/master/samples/Stepper.js) case looks like this issue.
Log:
[code]

[2018-01-15 05:48] xiaoyu3x commented on #1754
This issue isn't reproduced with PR #1758

[2018-01-16 09:41] qiaojingx commented on #1743
Verified with commit 8b0ac4d + #1755. This issue is not reproducible.

[2018-01-16 09:41] qiaojingx commented on #1744
Verified with commit 8b0ac4d + #1761 . This issue is not reproducible.

[2018-01-16 20:15] jimmy-huang commented on #1661
@cuiyanx ok, i'll submit a patch to update that, thanks for testing.

[2018-01-17 00:49] grgustaf commented on #1490
Closing because there is still no support in Zephyr for DHCPv6. I'll mark it as reconsider later.

[2018-01-17 00:49] #1490 closed

[2018-01-17 08:53] qiaojingx commented on #1353
Verified with commit 8b0ac4d + #1763 . This issue is fixed.
![selection_015](https://user-images.githubusercontent.com/19813546/35033788-e9ef7f20-fba6-11e7-866d-cf3a9500011b.png)
![selection_014](https://user-images.githubusercontent.com/19813546/35033789-ea60e822-fba6-11e7-995a-b93394737ff4.png)

[2018-01-17 17:52] jimmy-huang commented on #1686
@qiaojingx can you post the lines of code that it is crashing by searching the instruction address: 8001d72 in the outdir/$BOARD/zephyr/zephyr.lst file.  I've tried reproducing on the 96b_carbon, but not able to, we'll try to reproduce it on other boards as well.

[2018-01-17 19:31] jimmy-huang commented on #1686
I can reproduce this with the old cbec79d commit with Zephyr 1.9, but I can't reproduce this on the olimex_stm32_e407 or 96b_carbon with the latest master with Zephyr 1.10, so I think this issue is fixed with 1.10, please re-test.

[2018-01-17 20:47] jimmy-huang commented on #1707
Yeah, it probably make sense to create issues, since they should work, we probably just need to update the json files to add the board for it to compile.

[2018-01-17 21:20] grgustaf opened #1766 "make BOARD=linux doesn't work in clean tree"
This doesn't work:
[code]

I guess the linux build depends on something existing in outdir from a previous build targeting another board.

[2018-01-17 21:52] grgustaf commented on #1766
Hmm, not sure how this happened by I had a 'cc' in my source dir that was breaking this. Getting rid of that fixes the problem and then I can't reproduce it so I'll close this... for now!

[2018-01-17 21:52] #1766 closed

[2018-01-17 22:20] jimmy-huang commented on #1705
@cuiyanx did you have to update the bluetooth driver using an external SWD debugger? I just flashed the app and when I scan I do see it showed up:

11:5B:5C:46:1A:43 96boards Test beacon

But I can't connect to it.

[2018-01-17 22:24] #1353 closed

[2018-01-18 00:34] jimmy-huang commented on #1556
@qiaojingx can you re-test this with latest master and with the #1769 patch?

[2018-01-18 01:19] cuiyanx commented on #1705
@jimmy-huang Yes, I update the BLE driver with [96b_carbon_nrf51](http://docs.zephyrproject.org/boards/arm/96b_carbon_nrf51/doc/96b_carbon_nrf51.html). If not, you can't connect to 96 board.

[2018-01-18 01:49] qiaojingx commented on #1686
Verified with commit 8b0ac4d. This issue is fixed.
Close

[2018-01-18 01:49] #1686 closed

[2018-01-18 02:56] qiaojingx opened #1771 "[ocf] Build ocf module for 96b_carbon failed"
### Description

 Unable to build ocf module for 96b_carbon board.

### Test Code

[OcfServer.js](https://github.com/01org/zephyr.js/blob/master/samples/OcfServer.js)

### Steps to Reproduction

`1. make BOARD=96b_carbon JS=samples/OcfServer.js `

### Actual Result

Build failed.
![selection_018](https://user-images.githubusercontent.com/19813546/35078627-0f6a81c2-fc3e-11e7-96e5-ebc2aec8f9bc.png)

[2018-01-18 03:04] qiaojingx opened #1772 "[ocf] Ocf Client cannot connect to OcfServer on olimex_stm32_e407"
### Description

Ocf connection can't be established on olimex_stm32_e407.

### Test Code

[OcfServer.js](https://github.com/01org/zephyr.js/blob/master/samples/OcfServer.js)
[OcfClient.js](https://github.com/01org/zephyr.js/blob/master/samples/OcfClient.js)
### Steps to Reproduction

1. `make BOARD=olimex_stm32_e407 JS=samples/OcfServer.js `
`     //olimex_stm32_e407(DFU B0->1/B1->0; Normal B0->0

[2018-01-18 03:05] qiaojingx commented on #1660
Verified with commit 4b23a47 + #1769. This issue is not reproduced.

[2018-01-18 03:07] qiaojingx commented on #1707
Ocf issue on 96b_carbon is tracking by #1771 and ocf issue on OLIMEX STM32 E407 is tracking by #1772 .

[2018-01-18 06:20] qiaojingx commented on #1556
Verified with commit 4b23a47 + #1769. This issue is not reproduced.

[2018-01-18 07:09] qiaojingx commented on #1771
Verified with commit 4b23a47 + #1768. Ocf module can be built for 96b_carbon. But Ocf connection can't be established. The same phonmenon as it is on olimex_stm32_e407(#1772)

[2018-01-18 07:14] cuiyanx commented on #1705
@jimmy-huang
I test this issue again with ble adapter on master by commit 4b23a47 and get log:
log:
[code]

[2018-01-18 10:11] pfalcon opened #1773 "FYI: Zephyr SDK 0.9.2 arm-gcc is broken for Cortex-M0 (hit by JerryScript)"
Seeing you guys are working on more boards, wanted to share this issue: https://github.com/zephyrproject-rtos/meta-zephyr-sdk/issues/91 .

So, if by any change you have Cortex-M0 boards in your queue, feel free to put them at the back of it. (An example would include nRF51 (nRF52 is Cortex-M3)).

Just FYI, decided to submit this just in case. Feel free to close.

[2018-01-18 17:28] grgustaf commented on #1773
Thanks for the tip!

[2018-01-18 18:59] jimmy-huang commented on #1670
@qiaojingx Is this reproducible with master, it seemed the original check was with Zephyr 1.9, but I can't reproduce this on Zephyr 1.10.  However, I do get ip route dropped on the linux time periodically, and I have to add route again.

[2018-01-18 21:23] jimmy-huang commented on #1705
@cuiyanx did you flash it with one of these? https://github.com/blacksphere/blackmagic/wiki, I think we don't have one laying around so we might have to buy one.

[2018-01-19 01:01] jimmy-huang commented on #1772
Networking doesn't work as expected on them, it's not just OCF, I tried websockets and it is returning the same error

Error in net_context_bind(handle->server_ctx, (struct sockaddr *)&addr, sizeof(struct s
ockaddr)): -125

@grgustaf any chance you tried out this board with networking?

[2018-01-19 01:35] cuiyanx commented on #1705
@jimmy-huang No, I just have [Flyswatter2 JTAG Debugger](http://www.tincantools.com/wiki/Flyswatter2) using Openocd and telnet to flash.

[2018-01-19 02:34] qiaojingx commented on #1670
Verifed with commit 4b23a47. This issue happens with a much lower reappearance rate now(disconnect for 10+times).
![selection_021](https://user-images.githubusercontent.com/19813546/35131725-c27336dc-fd02-11e7-9114-6a504cdf5404.png)
And if keep connection from the beginning, issue #1725 will occurs.

[2018-01-19 08:12] qiaojingx opened #1774 "[tcp] TCP server.address returned is not as expected on K64F"
### Description

server.address() return `fe80::204:9fff:fe8e:6d6e` not `2001:db8::1` on K64F.

### Test Code

[test-tcp6-server.js](https://github.com/01org/zephyr.js/blob/master/tests/test-tcp6-server.js;)

### Steps to Reproduction

1. `make JS=tests/test-tcp6-server.js BOARD=frdm_k64f`
2.` cp outdir/frdm_k64f/zephyr/zephyr.bin /media/<username>/MBED/`

### Actual Result

TCP server.address ret

[2018-01-19 08:16] qiaojingx commented on #1353
Verified with commit 4b23a47. This issue is fixed except IPv6 server address on K64F. A separate issue #1774 is created for it.

[2018-01-19 18:09] jimmy-huang commented on #1670
@brianjjones and @jprestwo were able to reproduce this yesterday and root-caused this bug, so a patch is on the way, don't close this until that's in.

[2018-01-19 18:58] grgustaf commented on #1773
I didn't like how long it took me to figure out if this was an immediate issue for us, so I just created a [tested boards](https://github.com/grgustaf/zephyr.js-1/blob/a236cb657fb714e69653068b0fd6f04ffd538403/docs/boards/summary.md) summary table in #1775.

We haven't yet tested on any Cortex-M0 boards. I wonder if their specs tend to be too low to be able to run ZJS? Anyway, we can probably close

[2018-01-19 19:51] grgustaf commented on #1711
Fixed in #1776. However I wasn't able to reproduce the bug in the -DHCP case, it just prints one line and I don't remember how to connect to it. So provide more detail if a problem remains.

[2018-01-19 21:40] pfalcon commented on #1773
Yes, sorry that I didn't clarify that. From my cursory checking, this didn't seem like an immediate issue. At the same time, as you guys start to support more boards, and community might look into that too, it may pop up "any time now", so I just wanted to share a forward notice to avoid any possible confusion/double-work.

Well, it depends. Cortex-M0 are simpler and lower-clock, thus lower-power.

[2018-01-19 22:28] #1711 closed

[2018-01-19 22:30] #1660 closed

[2018-01-22 01:56] #1556 closed

[2018-01-22 03:49] qiaojingx commented on #1774
Test with commit e720399. This issue is also reproduced in Qemu.

[2018-01-22 03:53] qiaojingx commented on #1711
Verified with commit e720399 . This issue is fixed.

[2018-01-22 07:44] qiaojingx commented on #1660
Verified with commit e720399. This issue is fixed.

[2018-01-22 18:45] #1743 closed

[2018-01-22 19:21] grgustaf commented on #1363
I thought this was trivial fix but I get crashes when I use the above patch, which haven't been easy to track down. It seems like I might be getting a double free.

[2018-01-22 22:18] jimmy-huang commented on #1771
The build issue has been fixed, so we'll track the connect issue with #1772.

[2018-01-22 22:18] #1771 closed

[2018-01-22 23:03] jimmy-huang commented on #1715
@qiaojingx I've updated the mac instructions for qemu, can you try to see if you can get it to build following them?  I've ran into many issues on my mac running Sierra, so if you are using a different OS like High Sierra, you may or may not run into the same issues, I've tried to document the work-arounds I did and I am planning to file a bug on Zephyr, you can comment on the patch too if you see

[2018-01-22 23:15] jimmy-huang commented on #1714
@qiaojingx I've created a patch #1780 to address some of these issues, can you see if anything else needs to be updated?

[2018-01-23 01:01] #1670 closed

[2018-01-23 01:06] cuiyanx commented on #1743
Fixed and closed

[2018-01-23 01:42] hanyia opened #1781 "[PnP] FRDM_K64F RAM sample increase obviously compared with master commit 8b0ac4d."
Test with ww04 master commit on zephyr board, found frdm_k64f RAM sample has more than 8% gap compared with ww03 commit. SDK version is v0.9.2. Detail info as below table:

Device | KPI | ww04 master:e720399 | ww03 master:8b0ac4d  | ww04 vs ww03
-- | -- | -- | -- | --
FRDM_K64F | Zephyr_Helloworld_RAM(Byte) | 27204 | 25156 | 8.14%

[2018-01-23 01:55] jimmy-huang commented on #1781
Yes, this was intended due to the fact that we increased the default callstack size from 2k to 4k for all platforms, as we are hitting stability issues with networking.

[2018-01-23 06:12] cuiyanx commented on #1217
Fixed and closed

[2018-01-23 06:12] #1217 closed

[2018-01-23 09:13] xiaoyu3x commented on #1715
Verified with new instructions(#1780) for qemu, I can build qemu target successfully.

For arduino 101 target, and i met the below issue by following new instructions. Do you have any work-around for this?
[code]

[2018-01-23 17:40] jimmy-huang commented on #1566
@xiaoyu3x Is this reproducible on k64f?  We can't test on 96b_carbon because we don't have the tool to flash the bluetooth firmware over that board.

[2018-01-23 17:40] jimmy-huang commented on #1457
@xiaoyu3x Is this reproducible with K64F?

[2018-01-23 17:51] jimmy-huang commented on #1715
@xiaoyu3x No I don't, did you build with iamcu.config instead of i586.config? Basically, we are just following the instruction here http://docs.zephyrproject.org/getting_started/installation_mac.html, if we can't build native Zephyr apps for A101 with the instructions, we need to file bug on Zephyr so they can fix it.

[2018-01-23 23:32] brianjjones commented on #1744
With @cuiyanx PR's this should no longer be an issue, it can be closed.

[2018-01-23 23:38] jimmy-huang commented on #1566
@xiaoyu3x Can you retest this with #1785, and using make JS=multiserver2.js ROM=260?  multiserver2.js doesn't require ARC image, so you can bump up the size even further to get around the size problem.

[2018-01-23 23:39] jimmy-huang commented on #1707
patch submitted #1785, please retest.

[2018-01-23 23:40] jimmy-huang commented on #1457
@xiaoyu3x Can you retest this with #1785, and using make JS=multiserver2.js ROM=260?  multiserver2.js doesn't require ARC image, so you can bump up the size even further to get around the size problem.

[2018-01-23 23:40] jimmy-huang commented on #1383
This requires API change so won't be fixed for 0.5 release.

[2018-01-23 23:42] brianjjones commented on #1725
#1770 may have fixed this issue.  I couldn't reproduce it after dozens of re-connects.  Please test again with master and see if it is still an issue.  Thanks.

[2018-01-23 23:44] #1774 closed

[2018-01-24 06:34] xiaoyu3x commented on #1566
@jimmy-huang
This issue isn't reproduced when using `make ROM=256 JS=multiserver2.js` with #1785  on A101.
 K64f doesn't support PWM, so can not use it to verify this issue.

[2018-01-24 06:52] jimmy-huang commented on #1715
It turns out that the error you are seeing is because it's compiling the arduino_101 with the ARC compiler, not with the crosstool-ng one, since our Makefile builds both ARC and x86 at the same time.  But I tried building just x86 by unsetting the CROSS_TOOL, then I am getting  linker error with gcc, i think it should used clang instead of gcc.  So I filed a bug
https://github.com/zephyrproject-rt

[2018-01-24 06:52] xiaoyu3x commented on #1457
hi, @jimmy-huang
This issue isn't reproduced when using multisever.js on K64F.
This issue isn't reproduced when using `make ROM=256 JS=multiserver2.js` with #1785  on A101.

[2018-01-24 07:13] hanyia commented on #1781
@jimmy-huang thanks your explanation, let us record this as expectation.

[2018-01-24 07:13] #1781 closed

[2018-01-24 07:57] cuiyanx commented on #1707
Verified with commit f51fcc3b02 on master.

| | A101 | K64f | 96b |
| :----: | :----: | :----: | :----: |
| [test-ocfserver.js](https://github.com/intel/zephyr.js/blob/master/tests/test-ocfserver.js) | Fail | Fail | Fail |
| [OcfMultiSensor.js](https://github.com/intel/zephyr.js/blob/master/samples/OcfMultiSensor.js) | Fail | Fail | Not Support AIO |

[2018-01-24 08:21] qiaojingx commented on #1715
Thanks for trying this out.  Can you add the issue ([zephyrproject-rtos/zephyr#5807](zephyrproject-rtos/zephyr#5807)) to arduino 101 building in new instructions(#1780). Then we can close #1715 & #1714 after #1780 merged.

[2018-01-24 08:45] hanyia commented on #1367
Device | KPI |ww04 master:e720399 | ww29 master: af7eadd | ww28 master: 05fda87 | ww20 master:e24821c | ww19 master:3950beb
-- | -- | -- | -- | -- | -- | --
Arduino101 | Zephyr_Helloworld_ARC_ROM(Byte) | 6436 | 6156 | 5720 | 10496 | 12684
Arduino101 | Zephyr_Helloworld_ARC_RAM(Byte) | 3920 | 4940 | 4940 | 6712 | 5592
Arduino101 | Zephyr_Helloworld_ROM(Byte) | 100756 | 97744 | 97744 | 100465 | 1022

[2018-01-24 08:49] hanyia commented on #1367
@jimmy-huang I attached complete date as below, it seems that update SDK to 9.2, not fix this issue, so report it.

[2018-01-24 17:33] grgustaf commented on #1288
"there are just only one interface for state"
@cuiyanx, can you tell me what that meant? The missing async docs is not high-priority, since that's intentional but I wonder if this is more important?

[2018-01-24 17:35] grgustaf commented on #1176
This may change with upcoming refactoring by @zolkis so we'll look into it after that.

[2018-01-24 17:37] grgustaf commented on #1052
Lowering priority since this would be a development / debugging tool, not a core feature.

[2018-01-24 17:44] grgustaf commented on #1022
@brianjjones please do some basic testing and if we want more detail explain it more to QA and have them look at it more.

[2018-01-24 17:45] grgustaf commented on #746
@brianjjones please check status.

[2018-01-24 17:47] grgustaf commented on #1725
I added a count to the message output and it happens after a while - once after 500 messages, once after 1000 messages for me. So you have to leave it running for a couple minutes.

[2018-01-24 17:50] grgustaf commented on #1549
I'm closing since it wasn't reproduced; let's reopen if the problem comes back.

[2018-01-24 17:50] #1549 closed

[2018-01-24 17:52] grgustaf commented on #1545
No, let's not worry about it for 0.4 at this point. We'll be releasing 0.5 soon.

[2018-01-24 17:52] #1545 closed

[2018-01-24 19:35] jimmy-huang commented on #1367
@hanyia Ok, looks like they didn't fix it upstream, I just submitted a pr https://github.com/zephyrproject-rtos/zephyr/pull/5815, so this will be fixed in the next release.

[2018-01-24 22:05] grgustaf opened #1787 "WebSocketServer samples shows two PONG events when there should be one"
Run the WebSocketServer.js sample on K64F at least, then connect with node client. In between the 10 message lines, it shows two PONG prints. There should only be one.

Investigating a little yesterday, it appeared there's only one `tcp_received` call and one `zjs_defer_work` call but somehow it's resulting in two pong events. I wonder if maybe the message isn't getting pulled out of the ring buff

[2018-01-24 23:02] jimmy-huang commented on #1664
@xiaoyu3x With patch #1789, you can further bump ROM_SIZE to 265, with multiserver.js I can set as high as 272, can you re-test?

[2018-01-24 23:03] jimmy-huang commented on #1457
@xiaoyu3x With patch #1789, you can further bump ROM_SIZE to 265, with multiserver.js I can set as high as 272, can you re-test?

[2018-01-25 00:18] #1707 closed

[2018-01-25 00:18] #1367 closed

[2018-01-25 00:23] #1714 closed

[2018-01-25 02:02] cuiyanx commented on #1288
@grgustaf We had some APIs for synchronous situation and none for asynchronous situation. But we have sample for asynchronous situation. We maybe need to add APIs for asynchronous situation, or remove this sample. I think that is my thought.

[2018-01-25 02:29] xiaoyu3x commented on #1664
hi, @jimmy-huang

This issue isn't produced with PR #1789 when run `make ROM=272 JS=multiserver.js`.

[2018-01-25 02:32] qiaojingx commented on #1670
Verified with commit 0c0af9b, not reproduced.

[2018-01-25 03:01] qiaojingx commented on #1714
Verified with commit 0c0af9b. README.md has been updated. Close.

[2018-01-25 03:03] qiaojingx commented on #1715
Verified with commit 0c0af9b. Qemu target can be built by following new instructions. Close

[2018-01-25 03:03] #1715 closed

[2018-01-25 03:10] jimmy-huang commented on #1515
@xiaoyu3x is this still reproducible?

[2018-01-25 03:29] xiaoyu3x commented on #1457
hi, @jimmy-huang
There are six sensors in multiserver.js and they are "Grove light sensor/temperature/motion/button/buzzer/mini fan".
There is only 'Grove light sensor' is found successfully.
![selection_048](https://user-images.githubusercontent.com/17694094/35369231-03120434-01c2-11e8-901f-98afce0cf3be.png)
Glad to see this issue is not reproduced and it can be found every time when using #1789

[2018-01-25 05:23] xiaoyu3x commented on #1515
@jimmy-huang
This issue isn't produced with PR #1789 when run make ROM=272 JS=multiserver.js.

[2018-01-25 05:56] xiaoyu3x commented on #1664
This issue isn't reproduced, so closed it.

[2018-01-25 05:56] #1664 closed

[2018-01-25 06:03] xiaoyu3x commented on #1515
This issue isn't reproduced, so closed it

[2018-01-25 06:03] #1515 closed

[2018-01-25 06:07] xiaoyu3x commented on #1566
This issue isn't reproduced, so closed it.

[2018-01-25 06:07] #1566 closed

[2018-01-25 06:09] jimmy-huang commented on #1457
Yeah, maybe close this one and open another bug to track the other issue.

[2018-01-25 07:05] qiaojingx commented on #1518
Verified with commit 0c0af9b in master. TCPClient6 on Arduino101 and 96b_carbon over BLE still cannot connect to TCPServer6.

[2018-01-25 07:10] qiaojingx commented on #1772
Re-test with commit 0c0af9b in master. OCF, TCP,UDP and Websocket results on new boards(96b_carbon and olimex_stm32_e407) are as below:

Comonpent | Test Case | 96b_carbon | olimex_stm32_e407
---|---|---|---
TCP | test-tcp6-server.js | PASS | FAIL(Error in net_context_bind)
TCP | test-tcp6-client.js | FAIL(#1518 ) | FAIL(Error in net_context_bind)
Websocket | test-ws6-server.js | PASS | FAIL(Error

[2018-01-25 08:09] qiaojingx commented on #1459
Verified with commit 0c0af9b in master. This issue is not reproduced. Close.

[2018-01-25 08:09] #1459 closed

[2018-01-25 08:13] qiaojingx commented on #1455
Verified with commit 0c0af9b in master. This issue is not reproduced on Arduino101 over Ethernet, FRDM-K64F and Qemu.
But on Arduino101 over ble, this issue cannot be verified because of issue #1518.

[2018-01-25 08:20] xiaoyu3x commented on #1457
This issue isn't reproduced, so closed it.

[2018-01-25 18:52] jimmy-huang commented on #1457
@wanghongjuan I am going to close this and please re-open if there are new issues.

[2018-01-25 18:52] #1457 closed

[2018-01-25 18:53] jimmy-huang commented on #1237
@uhofemei Now with Zephyr 1.10, bluetooth should be much more stable now, please re-test.

[2018-01-25 18:54] jimmy-huang commented on #616
Closing this as this has been fixed by #1780

[2018-01-25 18:54] #616 closed

[2018-01-25 19:51] jimmy-huang commented on #1772
I think we should first find out if the native Zephyr apps works on the olimex_stm32_e407 board.  I suspect that this may be a Zephyr upstream bug.

[2018-01-25 23:58] jimmy-huang commented on #1737
Is this still reproducible? Right after I do After I do:
ip -6 route add 2001:db8::/64 dev bt0

I could still ping the board, but then after I do

ip -6 addr add 2001:db8::2 dev bt0, i can't no longer ping the board.

and when I run test-tcp6-client.py, it just sits there, not connecting.  @qiaojingx are you able to connect?

[2018-01-26 01:15] cuiyanx commented on #1737
@jimmy-huang
I re-test this issue, and get the same result.

Server log(a101):
[code]
Client log(Ubuntu 16.04):
[code]

[2018-01-26 02:48] jimmy-huang commented on #1737
I still can't get it to connect somehow:
$ python ./tests/tools/test-tcp6-client.py
Socket client creat successful
Traceback (most recent call last):
  File "./tests/tools/test-tcp6-client.py", line 44, in <module>
    main()
  File "./tests/tools/test-tcp6-client.py", line 18, in main
    mySocket.connect(addr)
  File "/usr/lib/python2.7/socket.py", line 228, in meth
    return getattr(self._sock

[2018-01-26 03:00] cuiyanx commented on #1737
@jimmy-huang
Do you use [TCPEchoServ6.js](https://github.com/intel/zephyr.js/blob/master/samples/TCPEchoServ6.js) as server and [test-tcp6-client.py](https://github.com/01org/web-test-suite/blob/master/zephyr.js/tools/tests/test-tcp6-client.py) as client? I think you had some mistake for client case, because port of the sample is 4242, but port of the test is 9876.

[2018-01-26 03:04] cuiyanx commented on #1737
@jimmy-huang
TCP6 client src:
[code]

[2018-01-26 04:43] cuiyanx commented on #1736
I re-test this issue and get another issue that looks like #1737 with ENC28J60 Ethernet Board.

Server log([TCPEchoServ6.js](https://github.com/intel/zephyr.js/blob/master/samples/TCPEchoServ6.js)):
[code]

Client log([test-tcp6-client.py](https://github.com/01org/web-test-suite/blob/master/zephyr.js/tools/tests/test-tcp6-client.py)):
[code]

[2018-01-26 05:44] qiaojingx commented on #1774
Verified with commit 0c0af9b, This issue is fixed.

[2018-01-26 05:46] qiaojingx commented on #1771
Verified with commit 0c0af9b in master. OCF works fine on 96b_carbon board.

[2018-01-26 18:32] brianjjones commented on #1787
FWIW the second pong is coming from the client side, which is being run by node - and running their version of WS.  So its quite possible it is a node bug or Zephyr issue.

[2018-01-26 19:03] jimmy-huang commented on #1737
@cuiyanx ok, so the client is not available in the repo, is this part of the another test-suite?  Because the tests/tools/test-tcp6-client.py looks totally different.

[2018-01-26 21:47] brianjjones commented on #1787
Confirmed, Node.js automatically sends a pong in response to a ping.  Having the ws.pong line in there causes two pongs to be sent.  See #1797

@grgustaf should I update our WS code to match this behavior? I assume this would go in after 0.5.

[2018-01-26 21:54] jimmy-huang commented on #1737
Ok, I am able to reproduce it now with your script, and I also happen to crash on 356th iteration, so I don't think that's a coincidence:

Times:  356
Socket client creat successful
Send data:  hello
Socket receive data failed
Error occurred

[2018-01-26 22:12] #1787 closed

[2018-01-26 22:25] #1744 closed

[2018-01-26 23:57] jimmy-huang commented on #1737
So it looks like we have a memory leak somewhere:

0:2001:db8::
socket.remotePort: 4242
socket.remoteAddress: a00:b0dc:2001:db8::
socket.remoteFamily: IPv6
received data, context=0xa8004e00, data=0xa800bf60, len=5
trace: T:0xa8005a60: create object: 0xa80083eb
emitting event 'data'
Got data: hello
Sent 5 bytes
Sent 5 bytes
Sent 0 bytes
closing socket, context=0xa8004e00, handle=0xa8013d00
socket=0

[2018-01-26 23:58] jimmy-huang commented on #1736
See my comment on #1737, I think we have a leak somewhere, because it was failing on malloc

[2018-01-28 23:39] t-harvey commented on #1759
Guys,
I just created a pull request (#1800) to let people (you guys? :-) examine the kinds of changes I'd like to make to the documentation.

[2018-01-29 01:19] cuiyanx commented on #1744
Fixed and closed.

[2018-01-29 02:18] cuiyanx commented on #1737
@jimmy-huang Yes, We have some test cases for stability test. They are TCP6 server, TCP6 client, UDP6 client and WebUSB for ZJS.

[2018-01-29 03:15] cuiyanx commented on #1725
@grgustaf I re-test this issue and get the same error again with d09e4b3 on master.

Log:
[code]

[2018-01-29 03:29] qiaojingx commented on #1725
Re-test with commit d09e4b3 in Qemu, got the same error as below:
![screenshot from 2018-01-29 10-06-36](https://user-images.githubusercontent.com/19813546/35492384-999c1c6e-04e7-11e8-8a60-fc6e920e28f4.png)

[2018-01-29 06:32] cuiyanx opened #1801 "[build] When building with Linux target, I have got some "warning"."
### Description

When I am building with Linux target, I have got some "warning". Although I can finish the Linux building, but please fix it.

### Test Code

### Steps to Reproduction

` make BOARD=linux`

### Actual Result

Warning 1:
`warning: "OC_CLOCK_CONF_TICKS_PER_SECOND" redefined`

Warning 2:
`warning: variable ‘key’ set but not used [-Wunused-but-set-variable]`

### Expected Result

No w

[2018-01-30 00:19] grgustaf commented on #1801
I don't seem to reproduce this. Can you give more context around the warnings? Are you sure there wasn't more to the build command line?

[2018-01-30 00:27] jimmy-huang commented on #1801
I do see the warning: variable ‘key’ set but not used [-Wunused-but-set-variable] warning, but i don't see the first one.

[2018-01-30 01:01] grgustaf commented on #1801
OK I do see that first error in Travis output, so we should be able to address this.

[2018-01-30 01:56] jimmy-huang commented on #1801
patch submitted #1803

[2018-01-30 02:34] cuiyanx commented on #1801
I re-test this issue with #1802 and #1803, this issue will be fixed.
Wait for merge #1802 and #1803, I will close this.

[2018-01-30 03:20] xiaoyu3x commented on #1549
This issue isn't reproduced with commit [d09e4b3](https://github.com/intel/zephyr.js/commit/d09e4b36d02f78c144b78b9b9194ad0e7305a632)

[2018-01-30 09:52] qiaojingx opened #1804 "[ocf] Cannot get return value when first retrieve from a multiple resources Server on K64F"
### Description

when first retrieve from a multiple resources ocfserver on K64F, no sensor value get. This issue is not reproduced on Arduino101.

### Test Code

[OcfMultiSensor.js](https://github.com/01org/zephyr.js/blob/master/samples/OcfMultiSensor.js)

OcfMultiClient.js code:
[code]
### Steps to Reproduction

1. `make BOARD=frdm_k64f JS=samples/OcfMultiSensor.js`
2. `cp outdir/frdm_k64f/zephy

[2018-01-30 10:04] kenchris opened #1805 "Mark non existing HW support in Supported modules on Linux and Zephyr"
It would be nice to know whether the software is missing support, or the device actually lacks the hardware.

Currently blank can mean either and it is confusing

[2018-01-30 16:48] grgustaf commented on #1805
Good point. The full situation is a bit more complex:
- Sometimes there is no hardware
- Sometimes the hardware can be added (like an Ethernet module)
- Sometimes the support is minimal (like GPIOs on most platforms: works but w/o friendly pin names)
- Sometimes it should work but hasn't been tested
- Sometimes there's no support in Zephyr
- Sometimes there's no support in ZJS

We should try to ex

[2018-01-30 21:25] jimmy-huang commented on #1804
I was able to see the res from k64f if I run OcfMultiServer.js and then OcfClient.js:

jimmy@jimmy-dev:~/projects/zephyrjs/zephyr.js (update-doc)$ ./outdir/linux/release/jslinux samples/OcfClient.js --noexit

Started OCF client
findResources() was successful, deviceId=ocf://c9920b68-2ab7-4e7e-5169-346b073c448e
retrieve() was successful, deviceId=ocf://c9920b68-2ab7-4e7e-5169-346b073c448e
retrieve(

[2018-01-30 21:58] jimmy-huang opened #1807 "I2C using deprecated Zephyr API"
When you build samples involving I2C like samples/I2C.js, you will see warnings that it's using deprecated Zephyr structs:

/home/jimmy/projects/zephyrjs/zephyr.js/src/zjs_i2c_handler.c: In function ‘zjs_i2c_handle_open’:
/home/jimmy/projects/zephyrjs/zephyr.js/src/zjs_i2c_handler.c:32:19: warning: ‘dev_config’ is deprecated [-Wdeprecated-declarations]
             union dev_config cfg;

[2018-01-31 01:26] qiaojingx commented on #1804
Yes, there is no OcfMultiClient.js file in zephyr.js, we created it ourselves for OcfMultiSensor.js testing. The code is in **Test Code** Section above.

[2018-01-31 08:25] qiaojingx opened #1809 "what is wrong with my arduino101?"

[2018-01-31 18:39] jimmy-huang commented on #1809
have you tried building native zephyr apps and flash them to both x86 and ARC processors separately, and see if you can get that up?  For example, if you build a the helloworld app on ARC, and then build the samples/booting/stub app and flash that the x86.  At least then it rules out if you have a working board or not.  If not, you might try to use the intel A101 recovery tools to flash the origin

[2018-02-01 01:43] grgustaf commented on #1736
As @jimmy-huang suggested in IRC, it seems like this may have been fixed by #1816 as well.

[2018-02-01 02:00] qiaojingx commented on #1809
I have tried with native zephyr apps, it seems the board is working.
![selection_004](https://user-images.githubusercontent.com/19813546/35656287-8fe808c6-0731-11e8-9667-548f48e68d07.png)

BTW, this issue is not reproduced when running samples in normal ZJS ways.  Only bad in Ashell.
![selection_006](https://user-images.githubusercontent.com/19813546/35656292-943fe4c0-0731-11e8-9505-255a00efe504.p

[2018-02-01 02:10] grgustaf commented on #1809
Yeah, that is interesting that the text line doesn't show up. That does make it seem rather like the ARC image failed to get built or flashed correctly. Possibly it could have to do with the recent changes to ARC build -Os? The version of the ARC image used for ashell probably has more features enabled than usually in your "production mode" builds. I think @jimmy-huang just left but I'll try to ta

[2018-02-01 02:11] grgustaf commented on #1809
Do non-ARC apps like just simple Blink.js work OK from ashell?

[2018-02-01 02:15] qiaojingx commented on #1809
Blink.js works fine in Ashell.

[2018-02-01 03:00] jimmy-huang commented on #1809
You can flash commit dee11f7abd7ea5c6b4c51f10f8c102b548776385 which is prior to the -Os changes and see if you can get ARC working again, if that works, we might need to file bug againist Zephyr because apparently they didn't fix the issue.

[2018-02-01 04:00] cuiyanx commented on #1737
I re-test this issue with PR #1816, this issue is fixed and not reproduced.

Client log:
[code]

[2018-02-01 05:37] jimmy-huang commented on #1736
@cuiyanx please re-test with #1816

[2018-02-01 05:38] jimmy-huang commented on #1735
@cuiyanx please re-test with #1816

[2018-02-01 06:15] qiaojingx commented on #1809
Re-test with commit d09e4b3. This issue is still there.

[2018-02-01 06:25] qiaojingx commented on #1735
Verified with commit d09e4b3 + #1816，this issue is not reproduced after 4 hours.

[2018-02-01 16:43] grgustaf commented on #1725
@qiaojingx, one thing I realized not too long ago is that net-tools should be updated, where the loop-slip-tap.sh and loop-socat.sh scripts come from. Do you guys keep those up to date? I wonder if that could have anything to do with the difference we see.

[2018-02-01 17:02] pfalcon commented on #1725
Guys, you should know that TCP handling in Zephyr still has enough issues :-I. I specifically write because -22 sounds familiar, it's -EINVAL, I saw it being throw from some networking call where it doesn't make much sense, and one case was recently "fixed": https://github.com/zephyrproject-rtos/zephyr/pull/5864 . Fixed in a sense that instead of that weird error, the proper -ENOMEM is now thrown.

[2018-02-01 17:15] grgustaf commented on #1725
Yeah I did track that down to somewhere in prepare_segment or sub-call, so that could change things. Thanks. I think the *reason* we were running out of memory though was because the ring buffer was too small and some pending callbacks were getting lost.

One implication of that was if we fail to queue up a callback we may have some rollback work to do to avoid leaking memory. So a flaw in our sys

[2018-02-01 17:18] grgustaf opened #1817 "signal_callback should return an error when ring buf full"
When the ring buffer is too full, signalling a callback fails. To behave correctly, the caller should probably find out this and even though it's a pretty bad error, they can avoid making things worse by freeing up resources.

So probably the return value should be changed to something other than `void` and all callsites checked for proper error handling.

[2018-02-01 18:16] jimmy-huang commented on #1809
maybe you can find out which component in ashell that's causing it to not boot, so if you edit src/zjs_ashell.json, and start removing individual components like aio, i2c, or sensor etc, i think these are the only ones that uses the ARC.  At least this narrows down to which thing is borking your image.

[2018-02-01 18:28] #1737 closed

[2018-02-01 18:28] #1735 closed

[2018-02-01 19:17] pfalcon commented on #1725
Yeah, that's definitely it.

Yeah, proper error  reporting is important. (Full) recovery may be not always possible, but at least users should get an indication what's wrong, so they could bump callback queue size/net buffer number/etc.

Thanks!

[2018-02-01 22:14] #1801 closed

[2018-02-01 23:31] #1363 closed

[2018-02-02 01:16] qiaojingx commented on #1735
Verified with commit d09e4b3 + #1816，this issue is not reproduced after running over night.

[2018-02-02 01:16] cuiyanx commented on #1736
I re-test this issue with PR #1816, this issue is fixed and not reproduced. So closed.

[2018-02-02 01:16] #1736 closed

[2018-02-02 01:45] qiaojingx commented on #1725
@grgustaf , `loop-slip-tap.sh` and `loop-socat.sh` scripts come from https://github.com/zephyrproject-rtos/net-tools. I am using commit [3567bc1](https://github.com/zephyrproject-rtos/net-tools/commit/3567bc1d676e0e95f734cb101d98ba113e155438) which is two commits behind the latest master. Thanks for reminding, I will keep these up to date.

[2018-02-02 04:15] jimmy-huang commented on #1809
another thing you can try is the erase the whole flash filesystem on the a101 using ashell in the cmd prompt, to remove any thing on the FS that could cause the board to boot differently.

[2018-02-02 12:14] kenchris opened #1822 "Web IDL in documentation is not compliant Web IDL"
Multiple different mistakes, like using types like "string" which doesn't exist in Web IDL:

https://heycam.github.io/webidl/#prod-StringType

[2018-02-02 23:19] #1807 closed

[2018-02-05 06:23] xiaoyu3x opened #1826 "The existing file disappears after rebooting or reseting STM32F407G-DISC1 and Olimex STM32-E407 boards"
## Issue description
The existing file disappears after rebooting or reseting STM32F407G-DISC1 and Olimex STM32-E407 boards

## Steps to reproduce
1. Build and flash image into board.
2. Start WebIDE and connect board.
3. Use 'load' command to create file in console.
4. Execute 'reboot' command in console or press 'reset' button on board.

## Actual Result

The existing file disappears, e.g. There

[2018-02-05 06:58] qiaojingx commented on #1518
Retest with commit 4cf09c5 in zjs-0.5 branch. TCPClient6 on Arduino101 over BLE cannot connect to TCPServer6. But it works on Arduino101 over Ethernet. Will it be fixed in zjs-0.5 branch?

[2018-02-05 09:21] xiaoyu3x opened #1827 ""erase" command can't be found in the console of WebIDE with STM32F407G-DISC1 and Olimex STM32-E407 boards"
## Issue description
"erase" command can't be found when running 'erase' on the console of WebIDE with STM32F407G-DISC1 and Olimex STM32-E407 boards

## Steps to reproduce
1. Build and flash image into board.
2. Start WebIDE and connect board.
3. Execute 'erase' command in console.

## Actual Result

"erase: command not found" is outputed.
![default](https://user-images.githubusercontent.com/17694

[2018-02-05 17:47] grgustaf commented on #1453
@brianjjones, @jimmy-huang what's the status of this?

[2018-02-05 17:49] grgustaf commented on #1187
Try to reserve the word `Verified` for when the fix works and the problem is solved. Here you `Tested` it but it still wasn't fixed.

[2018-02-05 19:50] brianjjones commented on #1453
@grgustaf The SPI driver for the A101 and FRDM_K64F are both still using the Legacy API, possibly the same for other boards.  So until these drivers are updated, there's no way for us to update the SPI API without breaking the build for several of our key boards.  Perhaps we should ping someone on the Zephyr team about driver plans.

[2018-02-06 08:04] qiaojingx opened #1828 "[tcp] Cannot connect to TCPEchoServ4_DHCP.js again by netcat(echo) on K64F."
### Description

 When sending single data pack by command `echo "hello" | nc <IP address> 4242` to [TCPEchoServ4_DHCP.js](https://github.com/01org/zephyr.js/blob/zjs-0.5/samples/TCPEchoServ4_DHCP.js), connection only can be established first time. No message is print when connect second time. `570:(ERROR) Socket closed early with another in process` is outputted when the connect third, forth ...

[2018-02-06 08:20] qiaojingx commented on #544
Basic feature is ready on FRDM-K64F. Verified with samples([AIO.js](https://github.com/01org/zephyr.js/blob/master/samples/AIO.js)) and tests([test-aio.js](https://github.com/01org/zephyr.js/blob/master/tests/test-aio.js)).
Commit ID: 4cf09c5 in zjs-0.5 branch
Platform: FRDM-K64F.
ZephyrSDK: 0.9.2
Zephyr: v1.10 release

[2018-02-06 09:26] qiaojingx commented on #1555
Verified with commit 4cf09c5 in zjs-0.5 branch. This issue is not reproduced after running 4hours.
Closed.

[2018-02-06 09:26] #1555 closed

[2018-02-06 14:40] kenchris opened #1829 "Follow new Generic Sensor API"
The current implementation differs from that of the spec, like onchange is now onreading.

It would be nice to follow the spec now, especially now that FitBit also follows it: https://dev.fitbit.com/build/reference/device-api/sensors/

[2018-02-06 19:19] zolkis commented on #1822
Perhaps we should stop using WebIDL in zephyr.js (unlike in browser development, we don't take much benefits from using it), and use e.g. TypeScript, or plain JS for describing interfaces?

[2018-02-07 01:25] qiaojingx commented on #1554
Re-test  [TCPClient6.js](https://github.com/01org/zephyr.js/blob/master/samples/TCPClient6.js), [TCPEchoServ4_DHCP.js](https://github.com/01org/zephyr.js/blob/master/samples/TCPEchoServ4_DHCP.js), [TCPEchoServ6.js](https://github.com/01org/zephyr.js/blob/master/samples/TCPEchoServ6.js) in qemu with commit 4cf09c5 in zjs-0.5 branch for 4hours.
They all got `CPU Page Fault` error:

TCPEchoServ4_DHCP

[2018-02-07 01:37] cuiyanx opened #1832 "[stability test] `General Protection Fault` occurs again on arduino101 over ble with 12 hours"
### Description

The `General Protection Fault` occurs again on arduino101 over ble with 12 hours. This looks like issue #1737.

### Test Code

Server: [WebSocketServer.js](https://github.com/intel/zephyr.js/blob/zjs-0.5/samples/websockets/WebSocketServer.js)
Client: [NodeWebSocketClient.js](https://github.com/intel/zephyr.js/blob/zjs-0.5/samples/websockets/NodeWebSocketClient.js)

### Steps to Re

[2018-02-07 02:13] qiaojingx commented on #1832
Re-test [OcfServer.js](https://github.com/intel/zephyr.js/blob/zjs-0.5/samples/OcfServer.js) and [UDPEchoServ6.js](https://github.com/intel/zephyr.js/blob/zjs-0.5/samples/UDPEchoServ6.js) o Arduino101 with ENC28J60 board over night. These two servers are down. Cannot connect again unless reset Arduino101.

UDPEchoServ6.js:
![selection_007](https://user-images.githubusercontent.com/19813546/3589453

[2018-02-07 03:05] xiaoyu3x opened #1833 "[ashell] 'grovelcd.js' module can't be found when running I2CBMP280.js"
## Issue description
'grovelcd.js' module can't be found  when running [I2CBMP280.js](https://github.com/intel/zephyr.js/blob/master/samples/I2CBMP280.js) in ashell.
In fact, [GroveLCD.js](https://github.com/intel/zephyr.js/blob/master/modules/GroveLCD.js)  has been imported A101.

## Test Code
[I2CBMP280.js](https://github.com/intel/zephyr.js/blob/master/samples/I2CBMP280.js)
[GroveLCD.js](https:

[2018-02-07 03:15] xiaoyu3x opened #1834 "[ashell] MathStubs is not defined"
## Issue description
Error 'MathStubs is not defined' is thrown out when running [Random.js](https://github.com/intel/zephyr.js/blob/master/samples/Random.js) in ashell.

## Test Code
[Random.js](https://github.com/intel/zephyr.js/blob/master/samples/Random.js)

## Steps to reproduce
1.Flash ashell into 101 board, then open minicom port `minicom -D /dev/ttyACM0`.
2.Copy [Random.js](https://github.

[2018-02-07 06:16] xiaoyu3x opened #1835 "[ashell] Special chars aren't supported in test-buffer.js"
## Issue description
Copy [test-buffer.js](https://github.com/intel/zephyr.js/blob/master/tests/test-buffer.js) into ashell, 'Error: Newline is not allowed in strings or regexps' is outputed when run it.

## Test Code
[test-buffer.js](https://github.com/intel/zephyr.js/blob/master/tests/test-buffer.js)

## Steps to reproduce
1.Flash ashell into 101 board, then open port `screen /dev/ttyACM0 115200

[2018-02-08 02:06] qiaojingx commented on #1828
Retest with commit ede4509 in master， This issue is also reproduced.

[2018-02-08 04:19] jimmy-huang commented on #1833
Is this a regression?  Was this broken for 0.5 release or after?

[2018-02-08 05:20] xiaoyu3x commented on #1833
No, it is not a regression.
I just reproduced this issue on 0.5 branch

[2018-02-08 21:02] jimmy-huang commented on #1829
@kenchris Are the readings still a property of the sensor object itself? Or is now part of the event obj when the listener is called?  Because in the fitbit api, there's a AccelerometerReading interface where the readings contains x, y, z but in the generic w3c spec, the example usess sensor.latitude, sensor.longitude, so I am assuming you still retrieve it via sensor.x, sensor.y, sensor.z for the

[2018-02-08 21:09] kenchris commented on #1829
In the spec they are still part of the object itself, which is the case because of GC issues, I remember.

But onchange is called onreading and the state is not exposed anymore

[2018-02-08 21:10] kenchris commented on #1829
I see now that the FitBit probably implemented this before we made that change, but they do use the right method names

[2018-02-08 21:12] jimmy-huang commented on #1829
ok, thanks, so at least this makes it so the change not so bad

[2018-02-08 23:06] jimmy-huang commented on #1833
I believe grove_lcd has been turned off by ashell before due to ROM constraints, so it's not on by default, so if you take a look at the components that are enabled by default in src/zjs_ashell.json, you can add grove_lcd to the list and it will fix your problem I think.

[2018-02-09 02:42] qiaojingx opened #1842 "[k64f] IPv6 address '2001:db8::1' is unreachable"
### Description

This is a regression issue which is caused by zephyr update. When running IPv6 Server(UDP, TCP, WS and OCF), IPv6 address '2001:db8::1' is unreachable and the corresponding client can't connect to its server.

### Test Code

[TCPEchoServ6.js](https://github.com/01org/zephyr.js/blob/master/samples/TCPEchoServ6.js)
[UDPEchoServ6.js](https://github.com/01org/zephyr.js/blob/master/sam

[2018-02-09 09:16] qiaojingx opened #1844 "[ashell] Should stm32f4_disco and olimex_stm32_e407 support ashell like ide?"
### Description

Should stm32f4_disco and olimex_stm32_e407 support ashell since they support ide now?
Build ashell target for these two boards failed.

### Steps to Reproduction

1.  `make BOARD=stm32f4_disco ashell`
2.  `make BOARD=olimex_stm32_e407 ashell`

### Actual Result

![selection_072](https://user-images.githubusercontent.com/19813546/36020036-307f8468-0dbc-11e8-8430-ae92d3ef1b84.png)

[2018-02-11 06:59] qiaojingx opened #1845 "[MacOS] Warnings when making linux target"
### Description

This is a regression issue. When building linux target on MacOS, warnings occurs, however, building succeed.

### Steps to Reproduction

1. `make BOARD=linux `

### Actual Result

warnings:
<img width="751" alt="screen shot 2018-02-11 at 2 19 22 pm" src="https://user-images.githubusercontent.com/19813546/36070722-d1f55234-0f3b-11e8-9cf4-2432595b0500.png">

### Expected Result

No

[2018-02-12 19:07] jimmy-huang commented on #1826
This is probably because both the boards do not have a dedicated flash for the filesystem like the A101.  So it's similar to the k64f, where it uses the RAM to simulate the filesystem, therefore it will be gone when you reboot, I don't think we can fix this unless the board can use another filesystem format like SD card support.

[2018-02-12 19:09] jimmy-huang commented on #1827
see comment on #1827, only the A101 has a dedicated flash filesystem, in which this erase feature is A101 specific.  All the other boards uses RAM to simulate the FileSystem, so you can't perform erase on these boards.

[2018-02-13 01:00] xiaoyu3x commented on #1827
Thanks, @jimmy-huang

I think you are right, so I will close it.

[2018-02-13 01:00] #1827 closed

[2018-02-13 01:03] xiaoyu3x commented on #1826
Thanks, @jimmy-huang

According to your comment, I will close it.

[2018-02-13 01:03] #1826 closed

[2018-02-13 01:54] xiaoyu3x commented on #1834
This issue isn't reproduced with PR #1839.
This bug will be closed until this PR is merged.

[2018-02-13 02:29] xiaoyu3x commented on #1833
This issue isn't reproduced with PR #1846 and it will be closed until PR is merged.

[2018-02-13 03:09] qiaojingx opened #1847 "[ashell] No prompt print when run/parse a non exist JS file"
### Description

When running or parsing a non exist JS file in ashell, No prompt print.

### Test Code

[ashell](https://github.com/intel/zephyr.js/blob/master/docs/ashell.md)

### Steps to Reproduction

1. `acm> run test.js` (test.js does not exist in ashell)
2. `acm> parse test.js` (test.js does not exist in ashell)
### Actual Result

 No prompt print.
![selection_073](https://user-images.githu

[2018-02-21 21:52] jimmy-huang opened #1848 "Non-blocking BSD sockets not working as expected"
There seems to be an issue with sockets blocking on recv() when it is set to non-blocking mode, this is causing the JerryScript debugger to stall as it expects it to return immediately.  I've filed a bug on Zephyr upstream https://github.com/zephyrproject-rtos/zephyr/issues/6309.

@pfalcon, I've created sample code to reproduce the issue on the bug, can you take a look there when you have a chance

[2018-02-22 08:26] pfalcon commented on #1848
Will do, thanks!

[2018-02-24 05:51] xiaoyu3x commented on #1833
hi,
This issue isn't reproduced when I used ide commit [bae9e36](https://github.com/intel/zephyrjs-ide/commit/bae9e368af04efcafd88bf0185792444ea317ae1) and zephyr.js commit [ed85a4d](https://github.com/intel/zephyr.js/commit/ed85a4deec7fdc4e6c464ba9bef7c03da3339550), so closed it

[2018-02-24 05:51] #1833 closed

[2018-02-28 23:19] brianjjones commented on #1844
Was just missing a change to the CLI json file, I have a fix open to take care of this.

[2018-03-06 09:13] cuiyanx opened #1851 "[dynamic] Throw out error "console is not defined""
### Description

When testing `dynamic` target, throw out error.

### Test Code

[/modules/Assert.js](https://github.com/intel/zephyr.js/blob/master/modules/Assert.js)
[/tests/test-timers.js](https://github.com/intel/zephyr.js/blob/master/tests/test-timers.js)

 Simple test1:
[code]
Simple test2:
`runJS('timer.js');`

### Steps to Reproduction

1. Copy `/modules/Assert.js` to a101 board as `assert

[2018-03-06 09:37] cuiyanx opened #1852 "[doc] Can we add document for module APIs?"
### Description

I look at the [/src/zjs_modules.c](https://github.com/intel/zephyr.js/blob/master/src/zjs_modules.c) and find we have supported some module apis, like stopJS(), exit(), process(). Can we add document for module APIs? That will be nice for users to know those apis and use them.

### Test Code

[/src/zjs_modules.c](https://github.com/intel/zephyr.js/blob/master/src/zjs_modules.c)：
[

[2018-03-06 19:23] #1834 closed

[2018-03-06 19:25] #1829 closed

[2018-03-07 07:55] cuiyanx opened #1853 "[math] Have a calculation error"
### Description

I test the simple test(following), I find a calculation error, please look at count2~4 and count9 of the logs.

### Test Code

Simple test:
[code]

### Steps to Reproduction

### Actual Result

Logs:
[code]

### Expected Result

No calculation error.

### Test Builds

| Branch | Commit Id | Target Device | Test Date | Result |
| :---: | :---: | :---: | :---: | :---: |
| master | 8

[2018-03-07 22:06] grgustaf commented on #1853
This is not a bug... try running the same thing in Chrome DevTools console (as I just did) and you get the exact same results.

The perceived problem comes from the fact that floating point math has limited precision. So certain values are not representable exactly. The classic example is to hit F12 in your Chrome and go to Console tab (or run `node` on the command line) and then just type 0.1 + 0

[2018-03-08 01:36] cuiyanx commented on #1853
@grgustaf OK, I learn it.

[2018-03-08 01:36] #1853 closed

[2018-03-09 03:05] qiaojingx opened #1856 "[docs] unable to flash STM32F4DISCO board by following README.md"
### Description

Error thrown when flash STM32F4DISCO board by taking steps from [ST STM32F4DISCOVERY Platform](https://github.com/intel/zephyr.js#st-stm32f4discovery-platform). I am wondering if a specific tools needed, like SWD debugger?

### Steps to Reproduction

1. `make BOARD=stm32f4_disco ide`
2. Connect the Mini USB cable from the device(CN1) to your PC.
3. Connect a micro-USB cable from t

[2018-03-09 05:49] qiaojingx commented on #1844
Verified with commit 9db8f2b. This issue is fixed.
Close.

[2018-03-09 05:49] #1844 closed

[2018-03-12 02:44] qiaojingx opened #1858 "[Console] Console.log cannot print each type correctly"
### Description

This is a regression issue. Console.log cannot print each type correctly, it causes `Segmentation fault` on Linux & MacOS, causes `BUS FAULT` error on FRDM_K64F, causes incorrect output on arduino101.

### Test Code

[Console.js](https://github.com/01org/zephyr.js/blob/master/samples/tests/Console.js);
[test-console-manual.js](https://github.com/01org/zephyr.js/blob/master/tests/t

[2018-03-12 05:39] xiaoyu3x commented on #1858
This issue is reproduced on STM32F407G-DISC1 and Olimex STM32-E407 with commit [9db8f2b](https://github.com/intel/zephyr.js/commit/9db8f2b5d523b4a09bedf36f6f350ef91b6bae3a)

[2018-03-14 08:08] qiaojingx opened #1859 "[webusb] Error calling listener is thrown when running WebUSB.js"
### Description

This is a regression issue. When running sample/WebUSB.js on arduino101, `426:(ERROR) error calling listener` will be thrown.

### Test Code

[WebUSB.js](https://github.com/01org/zephyr.js/blob/master/samples/WebUSB.js);

### Steps to Reproduction

Arduino101:
`1. Comment out return in WebUSB.js`
`2. make JS=samples/WebUSB.js`
`3. make dfu`

### Actual Result

Error is thrown like

[2018-03-15 22:35] grgustaf opened #1860 "Update board explorer with Zephyr pin names"
@jketreno suggested we submit a patch to [Board Explorer](https://github.com/Board-Explorer/board-explorer/blob/master/boards/arduino_101/board.json) to name pins using Zephyr names.

[2018-03-20 21:48] #1858 closed

[2018-03-21 02:39] qiaojingx commented on #1858
Verified with commit 3d4a43c in master. This issue is fixed.

[2018-03-21 02:43] qiaojingx commented on #1859
Verified with commit 3d4a43c in master. This issue is not reproducible. Close.

[2018-03-21 02:43] #1859 closed

[2018-03-23 00:14] jimmy-huang commented on #1842
this might be a zephyr bug, see https://github.com/zephyrproject-rtos/zephyr/issues/6583

[2018-03-26 22:28] jimmy-huang opened #1864 "Add MQTT APIs"
Add MQTT APIs similar to MQTT.js on Node.

[2018-04-11 01:42] hanyia opened #1866 "[PnP] Arduino101 boot-timestamps of I2C increases obviously compared with master commit 3d4a43c."
Test with ww15 master commit on zephyr board, found Arduino101 I2C-Boot-timestamps sample has 100% gap compared with ww12 commit. SDK version is v0.9.2. Detail info as below table:

Device | KPI | ww15 master:d5d554 | ww12 master:3d4a43c | ww15 vs ww12
-- | -- | -- | -- | --
Arduino101 | Zephyr_Boot_timestamps_of_I2C.js(ms) | 40 | 20 | 100%

[2018-04-12 02:27] xiaoyu3x opened #1868 "[websocket] Fail to connect with WebsocketServer after zephyr updated to 1.11"
### Description

 This is a regression issue, after zephyr updated to 1.11. NodeWebSocketClient cannot connect to WebsocketServer.

### Test Code

[WebSocketServer.js](https://github.com/intel/zephyr.js/blob/master/samples/websockets/WebSocketServer.js);
[NodeWebSocketClient.js](https://github.com/intel/zephyr.js/blob/master/samples/websockets/NodeWebSocketClient.js);
[WebSocketServer4.js](https:/

[2018-04-12 03:14] xiaoyu3x opened #1869 "[BLE] Primary Service UUID not found"
### Description

 This is a regression issue, after zephyr updated to 1.11. Primary Service UUID cannot find. I cannot use nRF app or WebBlueTooth(https://goo.gl/QEvyDZ) to communication with Arduino101.

### Test Code

[BLE.js](https://github.com/intel/zephyr.js/blob/master/samples/BLE.js);
[WebBluetoothDemo.js](https://github.com/intel/zephyr.js/blob/master/samples/WebBluetoothDemo.js);
[WebBlue

[2018-04-12 21:42] jimmy-huang commented on #1848
closing this as it's fixed in Zephyr 1.11

[2018-04-12 21:42] #1848 closed

[2018-04-18 21:29] brianjjones opened #1872 "WebUSB device can't be found on windows platform"
Issue description
WebUSB device can't be found on windows platform

Current behavior
Board can't be found after connected windows PC.

Expected behavior
Device can be found.

Steps to reproduce

Build and flash images into board.
Start WebIDE and connect board.
![win](https://user-images.githubusercontent.com/725841/38959278-dc32bfd6-4314-11e8-94ec-ff62f51168b1.png)

[2018-04-19 00:36] brianjjones commented on #1860
@grgustaf See pull request here https://github.com/Board-Explorer/board-explorer/pull/68

[2018-04-19 02:32] xiaoyu3x opened #1873 "Fail to build STM32F407G-DISC1 and Olimex STM32-E407 images"
## Issue description
Can't build STM32F407G-DISC1 and Olimex STM32-E407 images

## Steps to reproduce
Build  STM32F407G-DISC1 or Olimex STM32-E407  image.
`make BOARD=stm32f4_disco ide` or `make BOARD=olimex_stm32_e407 ide`

## Actual Result

‘ST_STM32_OTGFS_50000000_* ’ undeclared here (not in a function)
![selection_104](https://user-images.githubusercontent.com/17694094/38968057-70fdf5de-43bc-1

[2018-04-19 07:41] qiaojingx opened #1874 "[ashell] Ctrl+X still saves input through load command"
### Description

 Content inputted through load command isn't abandoned when exiting by CTRL+X

### Test Code

[Ashell](https://github.com/01org/zephyr.js/blob/master/docs/ashell.md);

### Steps to Reproduction

1. `make ashell ROM=256`
2. `make dfu`
3. `acm> load test.js`
4. `RAW>/*input something*/`
5. CTRL+X to exit
### Actual Result

![selection_002](https://user-images.githubusercontent.com/1

[2018-04-26 21:43] brianjjones commented on #1852
Added with #1876

[2018-04-27 09:16] qiaojingx opened #1877 "[jerryscript-debugger] Fail to resume/step into/step over when debugging with /bin/jerry built in JerryScript"
### Description

When using jerryscript-debugger.sh to debug with /bin/jerry executable inside JerryScript. Breakpoint can be added and removed. But Resume/Step into/Step over/Step out/Step doesn't work. It wil cause "unhandled protocol message type: xx". After clicking once, the icon becomes disabled.

### Test Code

[JerryScript Debugger & Chrome DevTools Proxy](https://github.com/jerryscript-pr

[2018-04-27 10:21] haoxli opened #1878 "[jerryscript-debugger] Fail to add breakpoint on Chrome 66+"
### Description
When using [jerryscript-debugger-ts](https://github.com/jerryscript-project/jerryscript-debugger-ts) to debug ZJS on Linux and FRDM-K64F board, The breakpoint is added failed in Chrome Devtools (66+), which work well on Chrome 65.

### Test Code
[tests/test-buffer.js](https://github.com/intel/zephyr.js/blob/master/tests/test-buffer.js)

### Steps to Reproduction
Linux build for exa

[2018-04-27 15:46] grgustaf opened #1879 "Introduce source map to allow debugging"
When debugging with jerryscript-debugger-ts project, since we concatenate all sources into one big file for our JS "modules", the debugger shows the one big source file. By using a source map, we could retain the original source format by mapping lines in the "compiled" source back to the original sources.

This would require an extra step of map generation at the time of concatenation, and then t

[2018-04-27 16:40] grgustaf commented on #1866
I assume this would be due to a Zephyr update? Interesting to look into though.

[2018-04-27 16:55] brianjjones commented on #1872
@grgustaf Yes its ZJS related, it got introduced with @zolkis new webusb PR.  There is some needed Windows key descriptor in order for chrome to recognize it. If you look at src/ashell/term-webusb.c (before it got deleted by the webusb PR) it contains ms_os_20_descriptor_set, which does that work. I tried adding that to src/ashell/webusb_driver.c but it still didn't work, so its a little more comp

[2018-04-28 09:29] qiaojingx commented on #1877
We have created a issue in [jerryscript-debugger-ts/#12](https://github.com/jerryscript-project/jerryscript-debugger-ts/issues/12) for using `bin/jerry` to debug JS file in JerryScript. The error message is also print when connecting and debugging through Resume/Step into/Step over/Step out/Step. The different from issue #1877 is Resume/Step into/Step over/Step out/Step not disabled after one clic

[2018-05-08 18:02] mandarcthorat commented on #1873
I'm also facing this issue.

[2018-05-08 18:20] #1869 closed

[2018-05-09 23:26] grgustaf commented on #1873
@mandarcthorat which board were you trying to use?

[2018-05-11 17:55] mandarcthorat commented on #1873
@grgustaf I was trying it on stm32f4 discovery board

[2018-05-14 07:42] qiaojingx commented on #1869
Verified with commit 2273038. This issue is fixed.

[2018-05-17 19:37] grgustaf commented on #1842
I get bisected this problem to ZJS commit 4324cf2, which was a Zephyr update. I further bisected it to Zephyr commit zephyrproject-rtos/zephyr@81ecfc3, which turned off promiscuous mode by default. I also tested that forcing promiscuous mode back on fixes the problem. Now the question is why and whether there's a "right way" to fix this.

[2018-05-17 20:04] pfalcon commented on #1842
Is the description of this issue correct/actual? It says:

So, is confirmed that that this address is not assigned to Zephyr's network interface, or there's only an external symptom that it doesn't respond to netcat? What about ping6s, do they work? @grgustaf said on IRC:

It would be nice if the description was updated (or confirmed in comments).

So, all in all, would be nice to get the exact st

[2018-05-17 20:18] pfalcon commented on #1842
[code]

I.e. the address is assigned actually. But I can confirm that ping6 doesn't work:

[code]

[2018-05-17 20:26] pfalcon commented on #1842
Actually, not right. Compare with the right picture:

[code]

The fix:

[code]

[2018-05-17 22:07] grgustaf commented on #1842
Very interesting... thanks, @pfalcon.

[2018-05-18 08:27] qiaojingx commented on #1868
Verified with commit 2273038 in master. Result is as below:
On my Linux(Ubuntu 16.04): This issue is still reproduced. All websocket server can't be connected with error "Unexpected server response:{}". But it works fine with zjs-0.5.

On another Linux(Ubuntu 16.04): This issue is not reproduced. Websocket server can be connected.
I am not sure whether it is caused by test environment or network c

[2018-05-18 08:28] #1868 closed

[2018-05-18 09:28] qiaojingx commented on #1842
@pfalcon Update the description. It is speculated according to external symptom that netcat and ping6 both can't get response from address 2001:db8::1.

[2018-05-18 09:34] qiaojingx commented on #1842
Verified with commit 2273038 + pr #1881. TCPEchoServ6.js and UDPEchoServ6.js works fine.
But OcfServer.js, OcfSensorServer.js and OcfMultiServer.js still can't be connect with OCF Client, while ping6 2001:db8::1 is ok.

[2018-05-23 09:17] qiaojingx opened #1884 "[Mac] Make qemu and from_k64f target failed"
### Description

This is a regression issue. Error running link command occurs when building qemu and frdm_k64f target on Mac.

### Test Code

[HelloWorld.js](https://github.com/intel/zephyr.js/blob/master/samples/HelloWorld.js);

### Steps to Reproduction

1. Building qemu target on MAC by follow instructions: [building-qemu-and-arduino-101-targets](https://github.com/01org/zephyr.js#building-qem

[2018-05-24 00:43] qiaojingx opened #1885 "[ocf] Ocf Client cannot connect to OcfServer on K64F"
### Description

Ocf connection can't be established on K64F, while ocf works fine on Arduino101.

### Test Code

[OcfServer.js](https://github.com/01org/zephyr.js/blob/master/samples/OcfServer.js)
[OcfClient.js](https://github.com/01org/zephyr.js/blob/master/samples/OcfClient.js)
[OcfSensorServer.js](https://github.com/01org/zephyr.js/blob/master/samples/OcfServer.js)
[OcfSensorClient.js](https:/

[2018-05-24 00:46] qiaojingx commented on #1842
Verified with commit f90d9d1. This issue is fixed. For ocf connection can't be established on K64F, a new issue #1885 is created.
Close this one.

[2018-05-24 00:46] #1842 closed

[2018-05-24 02:56] qiaojingx commented on #1828
Verified with commit f90d9d1. This issue is not reproduced.
Close.

[2018-05-24 02:56] #1828 closed

[2018-05-24 03:31] qiaojingx commented on #1725
Verified with commit f90d9d1. This issue is not reproduced.
Close.

[2018-05-24 03:31] #1725 closed

[2018-05-24 08:45] haoxli commented on #1868
@grgustaf  I investigate that this issue occurs by node ws module required by [NodeWebSocketClient.js](https://github.com/intel/zephyr.js/blob/master/samples/websockets/NodeWebSocketClient.js). There are changes in protocol implementation between v5.0.0 and v5.1.0 of [ws/lib/websocket.js](https://github.com/websockets/ws/blob/master/lib/websocket.js):
- websocket.js (5.0.0)
[code]
- websocket.js (

[2018-06-07 18:20] pfalcon commented on #1885
So, guys, I'm currently digging into other networking issues, and can't look into it, can you please submit a Zephyr ticket on this?

[2018-06-11 08:55] hanyia opened #1887 "[PnP]I2C and WebBluetoothGroveLcdDemo ROM sample increase obviously compared with master commit f90d9d."
Test with ww24 master commit_2b033e on zephyr board, found I2C and WebBluetoothGroveLcdDemo ROM samples have more than 25% gap compared with ww21 master commit_f90d9d. SDK version is v0.9.2. Detail info as below table:

Device | KPI | ww24 master: 2b033e | ww21 master: f90d9d | ww24 vs ww21
-- | -- | -- | -- | --
Arduino101 | Zephyr_I2C_ROM(Byte) | 141492 | 112444 | 25.83%
Arduino101 | Zephyr_WebB

[2018-06-12 09:25] qiaojingx opened #1888 "[arduino] An obvious increase of ROM cause building failure"
### Description

This is a regression issue. ROM samples increase obviously from last commit on arduino 101, some test case fail to build due to ROM problem.

### Test Code

[test-ocfserver.js](https://github.com/01org/zephyr.js/blob/master/tests/test-ocfserver.js);
[th02-ocf.js](https://github.com/intel/zephyr.js/blob/master/samples/thermostat/th02-ocf.js);
[test-tcp6-server.js](https://github.co

[2018-06-13 01:51] qiaojingx opened #1890 "[dynamic] make dynamic target failed"
### Description

This is a regression issue. Build dynamic failed.

### Test Code

[/modules/Assert.js](https://github.com/intel/zephyr.js/blob/master/modules/Assert.js);
[/tests/test-timers.js](https://github.com/intel/zephyr.js/blob/master/tests/test-timers.js);

Simple test.js:
runJS('timer.js');

### Steps to Reproduction

1. Copy /modules/Assert.js to a101 board as assert.js
2. Copy /tests/te

[2018-06-13 02:12] qiaojingx opened #1891 "[k64f] quit debugger mode cause BUS FAULT error"
### Description

When using command "quit" to exit debugger mode, BUS FAULT error will occur on FRDM-K64F.

### Test Code

[tests/test-buffer.js](https://github.com/01org/zephyr.js/blob/master/tests/test-buffer.js);
[deps/jerryscript/jerry-client-ws.py](https://github.com/jerryscript-project/jerryscript/blob/145ab1ed79d3fc1e8618040c3495f9cfd400f64c/jerry-debugger/jerry-client-ws.py)

### Steps to

[2018-06-15 07:44] qiaojingx commented on #1890
Verified with commit 2b033e1 + #1889. This issue is fixed.
This issue will be closed after patch #1889 merged.

[2018-06-15 07:44] qiaojingx commented on #1888
Verified with commit 2b033e1 + #1889. This issue is fixed.
This issue will be closed after patch #1889 merged.

[2018-07-09 20:13] #1888 closed

[2018-07-09 20:13] #1887 closed

[2018-08-18 19:25] pfalcon opened #1896 "FYI: Changes required for Zephyr 1.13"
Zephyr 1.13 has some refactoring which required updates to the client apps. Here's the list I know about:

1. Net configuration lib was split from net_app lib. A few config options were renamed from CONFIG_NET_APP_* to CONFIG_NET_CONFIG_* . An example of the changes required can be seen at https://github.com/pfalcon/micropython/commit/f27f79da52eae4e4ca2a89c70c711ef24249b3a5 .
2. There're also som

[2018-09-01 13:19] LaszloLango opened #1897 "ESP32 build failure"
I tried to build ZJS for ESP32, but I  ran into some issues. It looks like newlib is not supported by the Zephyr OS on ESP32. I've tried to edit `src/zjs_common.json`, but it did not help. I tried to add `CONFIG_NEWLIB_LIBC=n"`, but it leads to other linker errors (missing libc and libm functions). I also tried to change the KConfig in the OS, to build as a native app, so libc functions where foun

[2019-04-18 09:36] pfalcon opened #1899 "Upgrading to Zephyr 1.14 LTS"
I see that there was no commits since summer last year, but we (Linaro) would still be interested to maintain Zephyr.js, at least as a non-trivial application example for Zephyr. (Plus, scripting language adoption may be slow, but it's clear that many people are interested in that, and numbers only grow (slowly, again)).

So, we'd like to update Zephyr.js to be buildable against recently released

[2019-04-18 09:38] pfalcon commented on #1899
@grgustaf, @jimmy-huang, @brianjjones: Ping guys.

[2019-04-18 09:38] pfalcon commented on #1896
Superceded by https://github.com/intel/zephyr.js/issues/1899

[2019-04-18 09:38] #1896 closed

[2019-04-18 18:46] brianjjones commented on #1899
Hi @pfalcon !

Currently @grgustaf  is out of the office for the week, but I think we'd be interested in looking at the patches.  Glad to hear someone is still getting some use out of ZJS.

[2019-04-19 21:30] jimmy-huang commented on #1899
@pfalcon Yeah, feel free to submit those patches, always welcome!

[2019-04-26 11:20] pfalcon commented on #1899
Thanks for responses folks, the patchset is posted:

* https://github.com/intel/zephyr.js/pull/1900
* https://github.com/intel/zephyr.js/pull/1901

[2021-03-04 15:29] emarteca opened #1904 "connection event listener registration error"
Hi all, I've been working on a tool to identify instances of events registered to the wrong object in uses of some JavaScript event-driven APIs, as part of a research project.
The tool flagged [line 8](https://github.com/intel/zephyr.js/blob/master/samples/websockets/NodeWebSocketClient.js#L8) in samples/websockets/NodeWebSocketClient.js, on the registration of the `connection` event.

The reason

[2021-03-04 15:58] grgustaf commented on #1904
Zephyr.js is actually a separate implementation that is "Node-like" so it can't be directly compared against the Node API. We may have based this on an earlier version of Node or even gotten something wrong in trying to imitate it, but I think in our implementation this is a valid event. Here's a line where it is [emitted](https://github.com/intel/zephyr.js/blob/master/src/zjs_web_sockets.c#L901).

[2021-03-04 16:03] emarteca commented on #1904
Thanks for the speedy response! Good point, my tool does not account for manually emitted events so that would probably be the best place to start.

The MFA just re-opened, so I'll go check it out asap :)

[2021-03-04 16:03] #1904 closed, assigned to nobody

[2021-07-13 03:49] bsingh5266 commented on #513
Getting started with Zephyr (Setup toolchain, compilation, board bring-up, Hello World example)!!

Systems: MacBook
Board     : nRF52833 DK (Optional)

https://youtu.be/4emoE-8hsqg